Repository open-telemetry/opentelemetry-specification, pull requests merged in 2020-10, with the labels that each got.

#1026 Add telemetry and service yaml
  semantic_conventions/resource/service.yaml
  semantic_conventions/resource/telemetry.yaml
  specification/resource/semantic_conventions/README.md
Labels: area:semantic-conventions, release:allowed-for-ga, spec:resource

#1023 Trace API: Update mentions of SpanContext as parent.
  specification/trace/api.md
Labels: area:api, release:allowed-for-ga, spec:trace

#1064 Fix PR number in changelog for #1021
  CHANGELOG.md
Labels: bug

#1067 Change Status to be consistent with Link and Event
  CHANGELOG.md
  specification/trace/api.md
  specification/trace/semantic_conventions/http.md
Labels: area:api, release:required-for-ga, spec:trace

#976 Clarify that Setter sets values only.
  specification/context/api-propagators.md
Labels: release:allowed-for-ga, spec:context

#1055 Add yaml for Cloud, Container, and Deployment resource attributes
  semantic_conventions/resource/cloud.yaml
  semantic_conventions/resource/container.yaml
  semantic_conventions/resource/deployment_environment.yaml
  specification/resource/semantic_conventions/cloud.md
  specification/resource/semantic_conventions/container.md
  specification/resource/semantic_conventions/deployment_environment.md
Labels: area:semantic-conventions, release:allowed-for-ga

#1057 Add yaml for K8s and OS resource attributes
  semantic_conventions/resource/k8s.yaml
  semantic_conventions/resource/os.yaml
  specification/resource/semantic_conventions/k8s.md
  specification/resource/semantic_conventions/os.md
Labels: area:semantic-conventions, release:allowed-for-ga

#1066 Update the baggage spec to include opaque metadata.
  CHANGELOG.md
  specification/baggage/api.md
Labels: area:api, release:required-for-ga, spec:baggage, spec:context

#1065 Clarify that link and event don't need to be objects in the API
  specification/trace/api.md
Labels: area:api, release:allowed-for-ga, spec:trace

#1011 Clarify behavior of Span.End, interaction with IsRecording
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/trace/api.md
Labels: area:api, release:allowed-for-ga, spec:trace

#1056 Add yaml for FaaS and Host resource attributes
  semantic_conventions/resource/faas.yaml
  semantic_conventions/resource/host.yaml
  specification/resource/semantic_conventions/faas.md
  specification/resource/semantic_conventions/host.md
Labels: area:semantic-conventions, release:allowed-for-ga

#1079 Update compliance matrix for removal of SpanContext or Span as parent (#510)
  spec-compliance-matrix.md
Labels: area:api, area:span-relationships, release:required-for-ga, spec:trace

#1083 Add a note to the Baggage API to clarify that languages are free to use language-friendly idiom to implement the API.
  specification/baggage/api.md
Labels: area:api, spec:baggage

#1074 Add a Shutdown() method to `*Provider` SDK
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/metrics/sdk.md
  specification/trace/api.md
  specification/trace/sdk.md
Labels: area:sdk, priority:p1, release:required-for-ga, spec:metrics, spec:trace

#1075 Rename SpanContext to SpanReference.
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/context/api-propagators.md
  specification/metrics/api.md
  specification/overview.md
  specification/trace/api.md
  specification/trace/sdk.md
  specification/trace/semantic_conventions/messaging.md
Labels: area:api, spec:trace

#942 SDK Trace: Adding span collection limits
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/sdk-environment-variables.md
  specification/trace/sdk.md
Labels: area:sdk, release:after-ga, spec:trace

#890 [Experimental] Add Endpoint Definitions for zPages
  experimental/trace/zpages.md
Labels: Stale

#1063 Clarify context interaction for trace module
  CHANGELOG.md
  specification/trace/api.md
Labels: area:api, release:required-for-ga, spec:trace

#1097 Fix typo in cloud resource convention.
  semantic_conventions/resource/cloud.yaml
  specification/resource/semantic_conventions/cloud.md
Labels: area:semantic-conventions, release:allowed-for-ga, spec:resource

#1042 Clarify how Otel Events should map to Jaeger Logs
  specification/trace/sdk_exporters/jaeger.md
Labels: release:allowed-for-ga, spec:trace

#937 System metrics semantic conventions
  CHANGELOG.md
  specification/metrics/semantic_conventions/README.md
  specification/metrics/semantic_conventions/process-metrics.md
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
  specification/metrics/semantic_conventions/system-metrics.md
Labels: spec:metrics

#1054 Add yaml for FaaS trace attributes
  semantic_conventions/trace/faas.yaml
  specification/trace/semantic_conventions/faas.md
Labels: area:semantic-conventions, release:allowed-for-ga

#881 Update Sampler.ShouldSample parent parameter to be Context
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/trace/sdk.md
Labels: area:sampling, area:sdk, release:allowed-for-ga, spec:trace

#1108 Add spec compliance matrix entry for StatusCode
  spec-compliance-matrix.md
Labels: area:miscellaneous, release:required-for-ga, spec:trace

#1027 Resolve semantic inconsistencies for non traditional messaging
  semantic_conventions/trace/messaging.yaml
  specification/trace/semantic_conventions/messaging.md
Labels: area:semantic-conventions, spec:trace

#1132 Clarify that TraceContext/Baggage propagators are required.
  specification/baggage/api.md
  specification/context/api-propagators.md
  specification/trace/api.md
Labels: area:api, priority:p3, release:allowed-for-ga, spec:context

#1131 Make clear the propagated/non-recording span concept needs no type.
  specification/trace/api.md
Labels: area:api, spec:trace

#1045 Clarify b3 debug flag and parent span id handling
  specification/context/api-propagators.md
Labels: area:api, release:allowed-for-ga, spec:context, spec:trace

#1136 Add OTEL_TRACE_SAMPLER.
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/sdk-environment-variables.md
Labels: area:sampling, area:sdk, spec:trace
