Repository open-telemetry/opentelemetry-specification, pull requests merged in 2020-08, with the labels that each got.

#669 Trace SDK: Provide definitions for readable and read/write span.
  CHANGELOG.md
  specification/trace/sdk.md
Labels: area:sdk, release:required-for-ga, spec:trace

#744 Close stale PRs
  .github/workflows/state-pr.yaml
Labels: area:miscellaneous

#741 Minor edits to the SpanContext
  specification/trace/api.md
Labels: area:api, spec:trace

#756 Clean up R/W span spec.
  specification/trace/api.md
  specification/trace/sdk.md
Labels: area:sdk, spec:trace

#737 Add logs overview
  specification/logs/img/app-to-file-logs.png
  specification/logs/img/app-to-otelcol.png
  specification/logs/img/application-api-sdk.png
  specification/logs/img/separate-collection.png
  specification/logs/img/unified-collection.png
  specification/logs/overview.md
Labels: spec:logs

#735 Specify the initial propagators requirements.
  specification/context/api-propagators.md
  specification/correlationcontext/api.md
  specification/trace/api.md
Labels: area:api, area:sdk, release:required-for-ga, spec:trace

#666 add initial env var draft specification
  specification/sdk-environment-variables.md
Labels: release:required-for-ga, spec:miscellaneous

#745 Clarify how to make progress on a PR
  .github/CODEOWNERS
  CONTRIBUTING.md
  docfx.json
Labels: area:miscellaneous

#760 Empty arrays are meaningful
  specification/trace/api.md
Labels: area:api, release:required-for-ga, spec:trace

#758 Use OTEL_RESOURCE_ATTRIBUTES instead of OTEL_RESOURCE_LABELS.
  specification/sdk-environment-variables.md
Labels: area:sdk, spec:resource

#757 Add Global Error Handler
  specification/error-handling.md
Labels: area:error-reporting, area:sdk, release:required-for-ga

#778 Add CHANGELOG entry for exceptions.
  CHANGELOG.md
Labels: area:api, area:error-reporting, area:semantic-conventions, release:required-for-ga, spec:trace

#771 Clarify that IsValid and IsRemote are APIs on SpanContext
  specification/trace/api.md
Labels: spec:trace

#765 Fix exception.stacktrace recommendation for Ruby.
  specification/trace/semantic_conventions/exceptions.md
Labels: area:api, area:error-reporting, area:semantic-conventions, spec:trace

#751 Add dynamic metric configuration support
  experimental/metrics/config-service.md
  internal/img/dynamic-config-service.png
Labels: area:sdk, release:after-ga, spec:metrics

#777 Consistency between Span and Resource attributes
  specification/common/common.md
  specification/trace/api.md
Labels: area:api, spec:miscellaneous, spec:resource, spec:trace

#774 Use Auto Assign Action to assign one TC member
  .github/auto_assign.yml
  .github/workflows/auto-assign-tc-members.yml
Labels: area:miscellaneous

#770 Add Jaeger propagation as one of the officially supported propagation
  specification/context/api-propagators.md
Labels: spec:context, spec:trace

#804 Clean up glossary and overview (resolves #528).
  specification/glossary.md
  specification/overview.md
Labels: area:miscellaneous, priority:p2, release:required-for-ga, spec:miscellaneous

#807 Add conventions for attribute names
  specification/common/common.md
Labels: area:semantic-conventions, spec:miscellaneous

#794 Add OTLP to the specification
  specification/protocol/img/otlp-client-server.png
  specification/protocol/img/otlp-concurrent.png
  specification/protocol/img/otlp-multi-destination.png
  specification/protocol/img/otlp-request-response.png
  specification/protocol/img/otlp-sequential.png
  specification/protocol/otlp.md
Labels: release:required-for-ga, spec:protocol

#699 Adding OTLP Exporter
  specification/correlationcontext/api.md
  specification/trace/sdk_exporters/otlp.md
Labels: area:sdk, spec:trace

#816 Add link to OTLP specification from README
  specification/protocol/README.md
Labels: spec:protocol

#789 Add semantic conventions for thread.name and thread.id span attributes
  specification/trace/semantic_conventions/span-general.md
Labels: area:api, area:semantic-conventions, release:after-ga, spec:trace

#719 Add requirements for how the Trace API should behave in the absence of an SDK
  CHANGELOG.md
  specification/trace/api.md
Labels: area:api, spec:trace

#829 Add clarification on the no-op nature of the metric API.
  specification/metrics/api.md
Labels: area:api, spec:metrics

#821 Extend attribute naming rules to metric labels
  specification/common/common.md
Labels: area:semantic-conventions

#810 Clarify span name criteria (resolves #557).
  specification/trace/api.md
Labels: area:api, area:semantic-conventions, spec:trace

#833 Metrics API: Specify that Unbind() is a MUST
  specification/metrics/api.md
Labels: spec:metrics

#767 Start zPages Experimental Spec
  experimental/trace/zpages.md
Labels: area:sdk, release:after-ga, spec:trace

#347 Metric SDK specification OUTLINE
  README.md
  specification/metrics/img/metrics-sdk.png
  specification/metrics/sdk.md
Labels: area:sdk, release:required-for-ga, spec:metrics

#838 Remove duplicate hostname attribute
  specification/resource/semantic_conventions/host.md
Labels: area:semantic-conventions

#828 Add specification/implementation compliance matrix
  spec-compliance-matrix.md
Labels: release:required-for-ga

#840 Remove lazy Event and Link API from Span interface
  CHANGELOG.md
  specification/trace/api.md
Labels: area:api, spec:trace

#836 Define how trace/span ids are retrieved
  specification/trace/api.md
Labels: area:api, spec:trace

#832 Require that names and namespaces are one global space across all semantic convention areas
  specification/common/common.md
Labels: area:semantic-conventions

#811 Added resource detection spec
  specification/library-guidelines.md
  specification/resource/sdk.md
  specification/sdk-environment-variables.md
Labels: spec:resource

#825 Add Getter's Keys operation.
  specification/context/api-propagators.md
Labels: area:api, spec:context, spec:trace

#857 Rename CorrelationContext to Baggage
  CHANGELOG.md
  README.md
  specification/baggage/api.md
  specification/context/api-propagators.md
  specification/context/context.md
  specification/correlationcontext/api.md
  specification/glossary.md
  specification/library-layout.md
  specification/logs/overview.md
  specification/metrics/api.md
  specification/overview.md
  specification/sdk-environment-variables.md
  specification/trace/semantic_conventions/span-general.md
Labels: area:api, priority:p3, release:required-for-ga, spec:correlationcontext

#884 Fix Sampler.ShouldSample parameter descriptions.
  specification/trace/sdk.md
Labels: area:sampling, area:sdk, bug, priority:p3, release:required-for-ga, spec:trace

#871 Add table summarizing sampler properties and processing
  specification/trace/sdk.md
Labels: area:sampling, area:sdk, priority:p3, release:required-for-ga, spec:trace

#874 RecordException: Allow additional attributes.
  CHANGELOG.md
  specification/trace/api.md
Labels: area:api, area:error-reporting, priority:p2, release:required-for-ga, spec:trace

#571 YAML Model for Semantic Conventions
  .github/workflows/semantic-conventions-check.yaml
  Makefile
  semantic_conventions/syntax.md
  semantic_conventions/trace/general.yaml
  semantic_conventions/trace/http.yaml
  semantic_conventions/version.properties
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/span-general.md
Labels: Stale, area:semantic-conventions, release:required-for-ga

#776 Updated Zipkin spec for remoteEndpoint mapping.
  specification/trace/sdk_exporters/zipkin.md
Labels: spec:trace

#888 Clarify function name conventions
  specification/trace/semantic_conventions/faas.md
Labels: area:semantic-conventions

#739 Add semantic conventions for HTTP metrics
  specification/metrics/semantic_conventions/http-metrics.md
Labels: area:semantic-conventions, spec:metrics
