Repository open-telemetry/opentelemetry-specification, pull requests merged in 2020-11, with the labels that each got.

#1137 Overhaul process command-line resource conventions.
  CHANGELOG.md
  specification/resource/semantic_conventions/process.md
Labels: area:semantic-conventions, spec:resource

#1191 Rework headings of process semantic convention, add TOC.
  specification/resource/semantic_conventions/process.md
Labels: area:semantic-conventions, spec:resource

#1187 Clarify the location of tracing's Context interaction.
  specification/trace/api.md
Labels: area:api, priority:p3, release:allowed-for-ga, spec:context, spec:trace

#1202 Add OTEL_TRACE_SAMPLER_ARG env variable definition.
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/sdk-environment-variables.md
Labels: area:sampling, area:sdk, release:allowed-for-ga, spec:trace

#748 Add OpenTelemetry performance benchmark spec
  CHANGELOG.md
  specification/performance-benchmark.md
Labels: release:allowed-for-ga, spec:miscellaneous

#1212 Remove ordering reqirement for attributes.
  CHANGELOG.md
  specification/common/common.md
Labels: area:api, spec:resource, spec:trace

#1214 Nulls SHOULD NOT be allowed in arrays.
  CHANGELOG.md
  specification/common/common.md
Labels: area:api, spec:resource, spec:trace

#1144 Remove the need to maintain third party propagators.
  specification/context/api-propagators.md
Labels: Stale, area:miscellaneous, release:allowed-for-ga, spec:context

#1225 Specify Span ID creation with sampling (non-recording spans included)
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/trace/sdk.md
Labels: area:sampling, area:sdk, spec:trace

#1121 Declare freeze of Trace API Specification 1.0
  specification/baggage/api.md
  specification/common/attribute-and-label-naming.md
  specification/common/common.md
  specification/context/context.md
  specification/document-status.md
  specification/trace/api.md
Labels: area:api, release:required-for-ga, spec:trace

#1229 Add YAML definition for code-related semantic attributes.
  semantic_conventions/trace/general.yaml
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, release:allowed-for-ga

#1232 Improve process.runtime description (editorial)
  specification/resource/semantic_conventions/process.md
Labels: area:semantic-conventions, spec:trace

#1242 Add java.vm.name to process.runtime.description & more examples.
  CHANGELOG.md
  specification/resource/semantic_conventions/process.md
Labels: area:semantic-conventions, spec:resource

#1227 Yaml files for process semantic convention
  semantic_conventions/resource/process.yaml
  specification/resource/semantic_conventions/process.md
Labels: area:semantic-conventions, release:allowed-for-ga, spec:resource

#1219 Add a SQL span naming suggestion: <db.operation> <db.name>.<db.sql.table>
  CHANGELOG.md
  specification/trace/semantic_conventions/database.md
Labels: area:semantic-conventions, release:allowed-for-ga, spec:trace

#1230 Add .gitattributes & normalize line endings
  .gitattributes
  docfx.cmd
  specification/performance-benchmark.md
  toc.yml
Labels: Stale, area:miscellaneous, spec:miscellaneous
