Repository open-telemetry/opentelemetry-specification, pull requests merged in 2020-04, with the labels that each got.

#418 Define span attributes for messaging systems
  specification/trace/semantic_conventions/README.md
  specification/trace/semantic_conventions/messaging.md
Labels: area:semantic-conventions

#471 Add Semantic Conventions for Function as a Service
  specification/resource/semantic_conventions/README.md
  specification/trace/semantic_conventions/README.md
  specification/trace/semantic_conventions/data-faas.md
Labels: area:semantic-conventions

#560 Remove LabelSet
  specification/metrics/api-user.md
  specification/metrics/api.md
Labels: metrics

#550 Add payload size to messaging semantic conventions
  specification/trace/semantic_conventions/messaging.md
Labels: area:semantic-conventions

#540 Add Logs Glossary document
  specification/glossary.md
Labels: logs

#552 Add some clarifying language to the semantics of metric instrument naming
  specification/metrics/api-user.md
Labels: metrics
