Repository open-telemetry/opentelemetry-specification, pull requests merged in 2020-09, with the labels that each got.

#862 Add semantic conventions for outgoing FaaS invocations
  CHANGELOG.md
  specification/trace/semantic_conventions/faas.md
Labels: area:semantic-conventions, spec:trace

#917 Fix Ruby stacktrace link reference in exceptions.md
  specification/trace/semantic_conventions/exceptions.md
Labels: bug

#905 Add description of TraceState operations
  specification/trace/api.md
  specification/trace/sdk.md
Labels: area:api, area:sdk, priority:p1, release:required-for-ga, spec:trace

#915 Delete sentence about using span name when faas.name is absent
  specification/trace/semantic_conventions/faas.md
Labels: area:semantic-conventions, spec:trace

#784 Add exception.escaped attribute.
  CHANGELOG.md
  specification/trace/semantic_conventions/exceptions.md
Labels: area:api, area:error-reporting, area:semantic-conventions, release:after-ga, spec:trace

#851 Use Deployment Environment in Resources' README instead of Environment.
  CHANGELOG.md
  specification/resource/semantic_conventions/README.md
Labels: area:sdk, area:semantic-conventions, spec:resource

#911 Use hex encoding for trace id and span id fields in OTLP JSON encoding
  CHANGELOG.md
  specification/protocol/otlp.md
Labels: spec:protocol, spec:trace

#931 Explicitly allow SIGs to split artifacts
  specification/library-guidelines.md
Labels: area:sdk, priority:p3, release:required-for-ga, spec:miscellaneous

#922 Move TraceState operations description from SDK to API
  specification/trace/api.md
  specification/trace/sdk.md
Labels: area:api, area:sdk, priority:p1, release:required-for-ga, spec:trace

#932 Describe association between Sampler and TracerProvider.
  specification/trace/sdk.md
Labels: area:sampling, area:sdk, priority:p3, release:required-for-ga

#928 Add yaml semantic conventions for Database
  semantic_conventions/trace/database.yaml
  specification/trace/semantic_conventions/database.md
Labels: area:semantic-conventions, spec:trace

#878 Clarify ForceFlush/Shutdown
  specification/trace/sdk.md
Labels: area:sdk, spec:trace

#927 Add yaml semantic conventions for Exception
  semantic_conventions/trace/exception.yaml
  specification/trace/semantic_conventions/exceptions.md
Labels: area:error-reporting, area:semantic-conventions, spec:trace

#938 Inconsistent Sampling Result Names
  specification/trace/sdk.md
Labels: area:api, area:sampling, spec:trace

#956 Rename Ignore to Drop for SamplingResult
  specification/trace/sdk.md
Labels: area:sampling, area:sdk, spec:trace

#839 Clarify event timestamp origin and range
  CHANGELOG.md
  specification/trace/api.md
Labels: area:api, spec:trace

#946 Exception semantic conventions: Add example & more explanation for exception.escaped.
  CHANGELOG.md
  semantic_conventions/trace/exception.yaml
  specification/trace/semantic_conventions/exceptions.md
Labels: area:error-reporting, area:semantic-conventions, spec:trace

#882 Add process.runtime.name / version describing executing runtime
  CHANGELOG.md
  specification/resource/semantic_conventions/process.md
Labels: area:semantic-conventions, release:after-ga, spec:resource

#984 Specify LastValue for ValueObserver, TBD for ValueRecorder
  CHANGELOG.md
  specification/metrics/api.md
Labels: spec:metrics

#875 Spans's parent must be passed as Context instead of Span(Context)s.
  CHANGELOG.md
  specification/trace/api.md
  specification/trace/sdk.md
Labels: area:api, needs discussion, priority:p1, release:required-for-ga, spec:baggage, spec:context, spec:trace

#925 Add yaml semantic conventions for RPC
  semantic_conventions/trace/rpc.yaml
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace

#983 Metrics terminology (Adding/Grouping)
  CHANGELOG.md
  specification/metrics/api.md
Labels: spec:metrics

#988 Allow samplers to modify tracestate
  CHANGELOG.md
  specification/trace/sdk.md
Labels: area:sampling, area:sdk, spec:trace

#1015 Add the official Baggage change to CHANGELOG and Spec Matrix.
  CHANGELOG.md
  spec-compliance-matrix.md
Labels: release:allowed-for-ga

#969 Remove restriction that SpanContext must be a final class, specify creation.
  specification/trace/api.md
Labels: area:api, spec:trace

#989 Shorten otel.instrumentation_library.* attribute names
  specification/trace/sdk_exporters/jaeger.md
  specification/trace/sdk_exporters/zipkin.md
Labels: release:required-for-ga, spec:trace

#975 Clarify env variables in otlp exporter
  CHANGELOG.md
  specification/protocol/exporter.md
Labels: release:after-ga

#1018 Explicitly specify cloud.provider values for common cloud providers
  specification/resource/semantic_conventions/cloud.md
Labels: area:semantic-conventions, release:allowed-for-ga

#926 Add yaml semantic conventions for Messaging
  semantic_conventions/trace/messaging.yaml
  specification/trace/semantic_conventions/messaging.md
Labels: area:semantic-conventions, release:allowed-for-ga, spec:trace

#880 Metric SDK Accumulator requirements and details
  CHANGELOG.md
  specification/metrics/img/accumulator-detail.png
  specification/metrics/img/metrics-sdk.png
  specification/metrics/sdk.md
Labels: spec:metrics

#1032 Change "otlp/proto" reference to "otlp/protobuf"
  specification/protocol/exporter.md
Labels: release:allowed-for-ga, spec:protocol

#1036 Follow up for #988.
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/trace/sdk.md
Labels: release:allowed-for-ga
