Repository open-telemetry/opentelemetry-specification, pull requests merged in 2020-12, with the labels that each got.

#1217 Add more attributes for Cassandra to database semantic conventions
  CHANGELOG.md
  semantic_conventions/trace/database.yaml
  specification/trace/semantic_conventions/database.md
Labels: area:semantic-conventions, release:allowed-for-ga, spec:trace

#1269 Define the fallback case for service.name
  CHANGELOG.md
  semantic_conventions/resource/service.yaml
  specification/resource/sdk.md
  specification/resource/semantic_conventions/README.md
Labels: area:sdk, priority:p1, release:required-for-ga, spec:resource

#1283 Standardize TraceId/SpandId/TraceFlags field casing in log formats
  specification/logs/overview.md
Labels: spec:logs

#1006 Require the SDK to provide custom ID generation
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/trace/sdk.md
Labels: Stale, area:sdk, release:allowed-for-ga, spec:trace
