Repository open-telemetry/opentelemetry-specification, pull requests merged in 2020-07, with the labels that each got.

#671 Do not write a value in Context upon failed extraction.
  specification/context/api-propagators.md
Labels: spec:context

#575 Revise and extend semantic conventions for databases
  CHANGELOG.md
  specification/trace/semantic_conventions/database.md
Labels: area:semantic-conventions, spec:trace

#683 Remove ZPagesProcessor mentioned in SDK spec
  specification/trace/sdk.md
Labels: area:sdk

#688 Fix Some Links
  specification/glossary.md
  specification/trace/sdk.md
Labels: bug

#692 Fix Redis example in database semconv
  specification/trace/semantic_conventions/database.md
Labels: area:semantic-conventions, spec:trace

#677 Add mapping for nginx 499 http status
  CHANGELOG.md
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, spec:trace

#701 Add issue/PR templates
  .github/ISSUE_TEMPLATE/context.md
  .github/ISSUE_TEMPLATE/correlationcontext.md
  .github/ISSUE_TEMPLATE/logs.md
  .github/ISSUE_TEMPLATE/metrics.md
  .github/ISSUE_TEMPLATE/miscellaneous.md
  .github/ISSUE_TEMPLATE/protocol.md
  .github/ISSUE_TEMPLATE/resource.md
  .github/ISSUE_TEMPLATE/trace.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area:miscellaneous

#693 Add resource semantic conventions for operating systems
  CHANGELOG.md
  specification/resource/semantic_conventions/README.md
Labels: area:semantic-conventions, release:required-for-ga, spec:resource

#702 Fix typo
  specification/trace/sdk.md
Labels: area:sampling, bug, spec:trace

#690 Adapt semantic conventions for the span name of messaging systems
  CHANGELOG.md
  specification/trace/semantic_conventions/messaging.md
Labels: area:semantic-conventions, spec:trace

#704 Specify how probability sampler is used with ParentOrElse
  CHANGELOG.md
  specification/trace/sdk.md
Labels: area:sampling, area:sdk, release:required-for-ga

#697 Exception reporting specification
  specification/trace/api.md
  specification/trace/semantic_conventions/exceptions.md
Labels: area:api, area:error-reporting, area:semantic-conventions, release:required-for-ga, spec:trace

#577 Small clean up for Propagators.
  CHANGELOG.md
  specification/context/api-propagators.md
  specification/overview.md
  specification/trace/api.md
Labels: area:api, release:required-for-ga, spec:context

#720 Clarify concurrency requirements for trace and metrics
  specification/concurrency.md
Labels: area:api, release:required-for-ga, spec:metrics, spec:trace

#724 Move concurrency requirements to the API files
  specification/concurrency.md
  specification/metrics/api.md
  specification/trace/api.md
Labels: area:api, spec:metrics, spec:trace

#722 Centralize attributes definition
  specification/common/common.md
  specification/overview.md
  specification/resource/sdk.md
  specification/trace/api.md
Labels: area:api, release:required-for-ga, spec:resource, spec:trace

#694 Add log data model
  specification/logs/data-model.md
  specification/overview.md
Labels: release:after-ga, spec:logs

#732 Add semantic conventions for more Kubernetes objects
  specification/resource/semantic_conventions/k8s.md
Labels: area:semantic-conventions, spec:resource

#742 DocFX sanity check
  .github/workflows/docfx.yml
  README.md
  docfx.cmd
  docfx.json
  specification/common/common.md
  specification/context/api-propagators.md
  specification/context/context.md
  specification/glossary.md
  specification/library-guidelines.md
  specification/metrics/api.md
  specification/performance.md
  specification/resource/sdk.md
  specification/resource/semantic_conventions/faas.md
  specification/resource/semantic_conventions/host.md
  specification/trace/api.md
  specification/trace/sdk.md
  specification/trace/sdk_exporters/zipkin.md
  specification/trace/semantic_conventions/faas.md
  toc.yml
Labels: enhancement
