Repository open-telemetry/opentelemetry-specification, pull requests merged in 2020-06, with the labels that each got.

#645 Improve root span description
  specification/trace/api.md
Labels: spec:trace

#643 Add link to version attribute schemas
  specification/trace/api.md
Labels: spec:trace

#629 Setting naming convention for exporter packages
  CHANGELOG.md
  specification/glossary.md
  specification/library-guidelines.md
  specification/trace/sdk_exporters/zipkin.md
Labels: area:semantic-conventions

#619 Clean up Tracing API spec, clarify Tracer vs TracerProvider.
  CHANGELOG.md
  specification/trace/api.md
  specification/trace/sdk.md
Labels: area:sdk, spec:trace

#642 change SumObserver to UpDownSumObserve
  specification/metrics/api.md
Labels: area:api, spec:metrics

#650 Add span attribute to indicate cold starts of Function as a Service executions
  CHANGELOG.md
  specification/trace/semantic_conventions/faas.md
Labels: area:semantic-conventions, spec:trace

#604 Extend semantic conventions for RPC and allow non-gRPC calls
  CHANGELOG.md
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace

#641 Add semantic conventions for http content size
  CHANGELOG.md
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, spec:trace

#635 Add semantic conventions for process resource
  CHANGELOG.md
  specification/resource/semantic_conventions/README.md
Labels: area:semantic-conventions, spec:resource

#646 Change "ordered mapping" to "ordered map"
  specification/trace/api.md
Labels: area:api, spec:trace

#592 Clarify semantic conventions around span start and end time
  specification/trace/api.md
Labels: area:api, spec:trace

#652 Add peer.service semantic convention to indicate the name of a target…
  CHANGELOG.md
  specification/trace/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, spec:trace
