Repository open-telemetry/opentelemetry-specification, pull requests merged in 2021-08, with the labels that each got.

#1837 Add metrics exporters spec files
  specification/library-guidelines.md
  specification/metrics/sdk_exporters/in-memory.md
  specification/metrics/sdk_exporters/otlp.md
  specification/metrics/sdk_exporters/prometheus.md
  specification/metrics/sdk_exporters/stdout.md
Labels: area:sdk, spec:metrics

#1831 [semantic conventions] add alibaba cloud as a cloud provider
  CHANGELOG.md
  semantic_conventions/resource/cloud.yaml
  semantic_conventions/trace/faas.yaml
  specification/resource/semantic_conventions/README.md
  specification/resource/semantic_conventions/cloud.md
  specification/trace/semantic_conventions/faas.md
Labels: area:semantic-conventions, spec:resource, spec:trace

#1130 Add an option to limit length of values of attributes and metric values
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/common/common.md
  specification/metrics/sdk.md
  specification/sdk-environment-variables.md
  specification/trace/sdk.md
Labels: area:sdk, release:after-ga, spec:trace

#1829 Add environment variable for third party AWS X-Ray Sampler
  specification/sdk-environment-variables.md
Labels: Stale

#1850 Add InstrumentationLibrary to Sampler.ShouldSample
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/trace/sdk.md
Labels: area:sdk, area:sampling, spec:trace

#1736 Add FaaS metrics semantic conventions
  CHANGELOG.md
  specification/metrics/semantic_conventions/README.md
  specification/metrics/semantic_conventions/faas-metrics.md
Labels: enhancement, area:semantic-conventions, spec:metrics

#1860 docs: fix RFC 5425 to RFC 5424
  specification/glossary.md
Labels: editorial

#1861 update splunk hec data model
  specification/logs/data-model.md
Labels: spec:logs, area:data-model

#1807 Update trace example for Kafka messaging
  specification/trace/semantic_conventions/messaging.md
Labels: area:semantic-conventions, spec:trace, Stale

#1863 Consistently format enums, fix non-identifier IDs.
  CHANGELOG.md
  semantic_conventions/resource/cloud.yaml
  semantic_conventions/trace/faas.yaml
  semantic_conventions/trace/general.yaml
  semantic_conventions/trace/http.yaml
  semantic_conventions/trace/rpc.yaml
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, spec:resource, spec:trace

#1883 Adjust .NET casing
  spec-compliance-matrix.md
  specification/trace/semantic_conventions/span-general.md
Labels: editorial

#1887 Move changelog entry for #1810
  CHANGELOG.md
Labels: editorial

#1812 Change default value for OTEL_EXPORTER_JAEGER_AGENT_PORT
  CHANGELOG.md
  specification/sdk-environment-variables.md
Labels: Stale

#1828 Metric Exemplars SDK Specification
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#1858 Add automated Schema File publish action
  .github/workflows/publish-schemas.yml
Labels: Stale
