Repository open-telemetry/opentelemetry-specification, pull requests merged in 2021-10, with the labels that each got.

#1915 Add optional min and max fields to histogram data model.
  CHANGELOG.md
  specification/metrics/datamodel.md
  specification/metrics/img/model-delta-histogram.png
Labels: spec:metrics, area:data-model

#1975 Clarify OTEL_EXPORTER_OTLP_ENDPOINT envvar for OTLP/HTTP.
  CHANGELOG.md
  specification/protocol/exporter.md
Labels: area:sdk, area:configuration

#1981 Add metrics supplementary guideline for instrumentation authors
  specification/metrics/supplementary-guidelines.md
Labels: area:api, spec:metrics

#1986 Minor improvements to the Metrics API spec wording
  specification/metrics/api.md
Labels: area:api, spec:metrics

#1988 Update Rust's support for OTLP/HTTP binary protocol
  spec-compliance-matrix.md
Labels: area:sdk, spec:protocol, editorial

#1976 Update metrics semantic conventions to use the new instrument names
  specification/metrics/semantic_conventions/http-metrics.md
  specification/metrics/semantic_conventions/rpc.md
  specification/metrics/semantic_conventions/system-metrics.md
Labels: area:semantic-conventions, spec:metrics

#1969 Make OTLP/HTTP the recommended default transport
  CHANGELOG.md
  specification/protocol/exporter.md
Labels: area:sdk, spec:protocol, area:configuration
