Repository open-telemetry/opentelemetry-specification, pull requests merged in 2021-07, with the labels that each got.

#1781 Rework FaaS semantic conventions.
  CHANGELOG.md
  semantic_conventions/resource/faas.yaml
  semantic_conventions/trace/aws/lambda.yaml
  specification/resource/semantic_conventions/faas.md
  specification/trace/semantic_conventions/faas.md
  specification/trace/semantic_conventions/instrumentation/aws-lambda.md
Labels: area:semantic-conventions, spec:resource, spec:trace

#1759 Mobile spec additions
  CHANGELOG.md
  semantic_conventions/trace/general.yaml
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, enhancement, spec:trace

#1814 Lint YAML files (mainly semantic conventions).
  .github/workflows/auto-assign-tc-members.yml
  .github/workflows/checks.yaml
  .github/workflows/stale-pr.yaml
  .markdownlint.yaml
  .yamllint
  Makefile
  semantic_conventions/resource/cloud_provider/aws/eks.yaml
  semantic_conventions/resource/container.yaml
  semantic_conventions/trace/database.yaml
  semantic_conventions/trace/exception.yaml
  semantic_conventions/trace/http.yaml
  semantic_conventions/trace/messaging.yaml
  semantic_conventions/trace/rpc.yaml
Labels: editorial

#1729 Split out OTLP gRPC vs. HTTP endpoint configuration
  CHANGELOG.md
  specification/protocol/exporter.md
Labels: area:sdk

#1825 Move syntax.md to build-tools, improve semconv README.
  .vscode/settings.json
  CONTRIBUTING.md
  semantic_conventions/README.md
  semantic_conventions/syntax.md
Labels: area:semantic-conventions, editorial, spec:metrics, spec:resource, spec:trace

#1832 Add jsuereth to tc review list.
  .github/auto_assign_issue.yml
  .github/auto_assign_pr.yml
  .github/workflows/auto-assign-pr.yml
Labels: editorial

#1730 Add more details to SDK MeterProvider and View
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#1791 Add jaeger remote sampler to SDK configuration
  CHANGELOG.md
  specification/sdk-environment-variables.md
Labels: area:sdk, spec:trace

#1838 Improve semconv README, link to naming rules.
  semantic_conventions/README.md
Labels: area:semantic-conventions, editorial
