Repository open-telemetry/opentelemetry-specification, pull requests merged in 2021-03, with the labels that each got.

#1461 Clarify that Events and Log Records are conceptually the same thing
  specification/logs/overview.md
Labels: area:miscellaneous, spec:logs

#1482 Add container runtime to container conventions
  CHANGELOG.md
  semantic_conventions/resource/container.yaml
  specification/resource/semantic_conventions/container.md
Labels: area:semantic-conventions, spec:resource

#1481 Clarify the cloud resource attributes
  semantic_conventions/resource/cloud.yaml
  specification/resource/semantic_conventions/cloud.md
Labels: area:semantic-conventions, spec:resource

#1483 Allow to collect host architecture
  CHANGELOG.md
  semantic_conventions/resource/host.yaml
  specification/resource/semantic_conventions/host.md
Labels: area:semantic-conventions, spec:resource

#1484 Introduce EKS cluster semantic conventions
  CHANGELOG.md
  semantic_conventions/resource/cloud_provider/aws/eks.yaml
  specification/resource/semantic_conventions/cloud_provider/aws/README.md
  specification/resource/semantic_conventions/cloud_provider/aws/eks.md
Labels: area:semantic-conventions, spec:resource

#1525 Scope baggage/context interaction functionality
  specification/baggage/api.md
Labels: spec:baggage

#1467 Add SpanExporter.ForceFlush.
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/trace/sdk.md
Labels: area:sdk, spec:trace

#1101 Add OpenTracing compatibility section.
  CHANGELOG.md
  specification/compatibility/opentracing.md
Labels: area:miscellaneous, priority:p2, release:allowed-for-ga, spec:trace

#1550 Update semantic conventions to distinguish between int and double
  .github/workflows/checks.yaml
  CHANGELOG.md
  semantic_conventions/resource/faas.yaml
  semantic_conventions/resource/process.yaml
  semantic_conventions/syntax.md
  semantic_conventions/trace/database.yaml
  semantic_conventions/trace/general.yaml
  semantic_conventions/trace/http.yaml
  semantic_conventions/trace/messaging.yaml
  specification/metrics/semantic_conventions/rpc.md
  specification/resource/semantic_conventions/faas.md
  specification/resource/semantic_conventions/process.md
  specification/trace/semantic_conventions/database.md
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/messaging.md
  specification/trace/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions

#1564 Update to latest semconv table generator to fix int enum issue
  .github/workflows/checks.yaml
  semantic_conventions/syntax.md
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions

#1557 MeterProvider and Meter API spec
  specification/metrics/new_api.md
Labels: area:api, spec:metrics

#1575 Update Baggage propagator to reference API Propagators
  CHANGELOG.md
  specification/baggage/api.md
Labels: spec:baggage

#1442 Add semantic conventions for instrumenting AWS Lambda.
  CHANGELOG.md
  semantic_conventions/trace/messaging.yaml
  specification/trace/semantic_conventions/README.md
  specification/trace/semantic_conventions/instrumentation/aws-lambda.md
  specification/trace/semantic_conventions/messaging.md
Labels: area:semantic-conventions, spec:resource, spec:trace

#1555 Clarify non-blocking requirement from span API End
  CHANGELOG.md
  specification/trace/api.md
Labels: spec:trace

#1581 Add aws.ecs.task.revision semantic convention
  CHANGELOG.md
  semantic_conventions/resource/cloud_provider/aws/ecs.yaml
  specification/resource/semantic_conventions/cloud_provider/aws/ecs.md
Labels: area:semantic-conventions

#1456 Add more description for symbols in Optional column
  spec-compliance-matrix.md
Labels: Stale
