Repository open-telemetry/opentelemetry-specification, pull requests merged in 2021-01, with the labels that each got.

#1296 Introduce resource attribute `faas.max_memory`
  semantic_conventions/resource/faas.yaml
  specification/resource/semantic_conventions/faas.md
Labels: area:semantic-conventions, release:allowed-for-ga, spec:resource

#1345 Make Resource.Merge consistent with Span.SetAttribute.
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/resource/sdk.md
Labels: area:sdk, spec:resource

#1294 Clarify/relax required resource attributes.
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/resource/sdk.md
  specification/resource/semantic_conventions/README.md
Labels: area:sdk, spec:resource

#1320 docs(logs): GCP log field "http_request" maps to the "Resource" unified model field
  specification/logs/data-model.md
Labels: Stale
