Repository open-telemetry/opentelemetry-specification, pull requests merged in 2021-12, with the labels that each got.

#2175 Mark In-Memory/OTLP/Stdout exporters as Stable
  CHANGELOG.md
  specification/metrics/sdk_exporters/in-memory.md
  specification/metrics/sdk_exporters/otlp.md
  specification/metrics/sdk_exporters/stdout.md
Labels: area:sdk, spec:metrics, release:required-for-ga

#2124 Add details to Prometheus Exporter requirement
  CHANGELOG.md
  specification/metrics/sdk_exporters/prometheus.md
Labels: area:sdk, spec:metrics, release:allowed-for-ga

#2121 no-op StartSpan: always return the parent
  specification/trace/api.md
Labels: area:api, spec:trace, Stale

#2162 Rename extra dimensions to extra attributes
  specification/metrics/README.md
  specification/metrics/datamodel.md
  specification/metrics/sdk.md
  specification/metrics/semantic_conventions/README.md
  specification/metrics/supplementary-guidelines.md
  specification/overview.md
Labels: area:sdk, spec:metrics, Stale, release:allowed-for-ga, editorial

#2184 Add ObservedTimestamp to the Log Data Model
  CHANGELOG.md
  specification/logs/data-model.md
Labels: spec:logs, area:data-model

#2168 Limit view-rename capabilities in the presence of multi-select views
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, release:required-for-ga

#2199 Use UCUM units in Metrics Semantic Conventions
  CHANGELOG.md
  specification/metrics/semantic_conventions/faas-metrics.md
  specification/metrics/semantic_conventions/http-metrics.md
  specification/metrics/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:metrics

#2191 Prohibit usage of retired names in semantic conventions
  CHANGELOG.md
  specification/common/attribute-naming.md
  specification/metrics/semantic_conventions/README.md
  specification/trace/semantic_conventions/README.md
Labels: area:semantic-conventions, area:versioning

#2210 Clarify integer count instrument units
  CHANGELOG.md
  specification/metrics/semantic_conventions/README.md
Labels: area:semantic-conventions, spec:metrics

#2100 Add `device.manufacturer` to semantic conventions for resources
  CHANGELOG.md
  semantic_conventions/resource/device.yaml
  specification/resource/semantic_conventions/device.md
Labels: area:semantic-conventions, spec:resource, Stale

#2220 Adjust syntax for ParentBased sampler to distinguish inputs from output
  specification/trace/sdk.md
Labels: area:sdk, area:sampling, spec:trace, editorial
