Repository open-telemetry/opentelemetry-specification, pull requests merged in 2021-06, with the labels that each got.

#1739 trace/sdk: Fix typo
  specification/trace/sdk.md
Labels: editorial

#1731 Clean up the Metrics API spec
  CHANGELOG.md
  specification/metrics/api.md
Labels: area:api, spec:metrics

#1726 Specify result of Resource.merge error
  CHANGELOG.md
  specification/resource/sdk.md
Labels: area:sdk, spec:resource

#1728 Mark relevant portions of Metrics DataModel stable
  specification/metrics/datamodel.md
  specification/protocol/otlp.md
Labels: area:data-model, spec:metrics

#1733 Add clarification about async vs. sync instruments
  specification/metrics/api.md
Labels: area:api, spec:metrics

#1738 Clarify some details about span kind and the meanings of the values.
  specification/trace/api.md
Labels: area:api, spec:trace

#1685 Add clarifications to SetStatus
  specification/trace/api.md
Labels: area:api, spec:trace

#1754 Editorial change regarding metrics unit
  specification/metrics/api.md
Labels: area:api, editorial, spec:metrics

#1748 Remove rpc.jsonrpc.method, clarify rpc.method instead.
  CHANGELOG.md
  semantic_conventions/trace/rpc.yaml
  specification/metrics/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/instrumentation/aws-sdk.md
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:metrics, spec:trace

#1771 Bump semconvgen to 0.4.1
  Makefile
  specification/trace/semantic_conventions/span-general.md
Labels: editorial

#1762 Clarify the limit on the instrument unit
  CHANGELOG.md
  specification/metrics/api.md
Labels: area:api, spec:metrics

#1775 Rename Metrics labels to attributes
  experimental/metrics/config-service.md
  specification/common/attribute-naming.md
  specification/common/common.md
  specification/compatibility/opencensus.md
  specification/library-layout.md
  specification/metrics/datamodel.md
  specification/metrics/semantic_conventions/README.md
  specification/metrics/semantic_conventions/http-metrics.md
  specification/metrics/semantic_conventions/openmetrics-guidelines.md
  specification/metrics/semantic_conventions/process-metrics.md
  specification/metrics/semantic_conventions/rpc.md
  specification/metrics/semantic_conventions/system-metrics.md
  specification/overview.md
  specification/versioning-and-stability.md
Labels: area:api, spec:metrics
