Repository open-telemetry/opentelemetry-specification, pull requests merged in 2021-09, with the labels that each got.

#1843 Add event semantic conventions, update semantic convention generator to v0.5.0
  .vscode/settings.json
  CHANGELOG.md
  Makefile
  semantic_conventions/README.md
  semantic_conventions/trace/exception.yaml
  semantic_conventions/trace/rpc.yaml
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace, Stale

#1905 Fix propagator's Extract required argument
  specification/context/api-propagators.md
Labels: editorial

#1890 Clarify some cases for http.host and http.client_ip.
  CHANGELOG.md
  semantic_conventions/trace/http.yaml
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, spec:trace, Stale

#1913 Spec out the MeterProvider ForceFlush and Shutdown requirement
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#1893 Prefer global limit over model-specific default
  CHANGELOG.md
  specification/common/common.md
Labels: area:sdk, area:configuration

#1912 Prepare for the metrics SDK experimental release
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#1922 Upgrade semconv generator to v0.6.0
  .vscode/settings.json
  Makefile
  semantic_conventions/README.md
Labels: editorial

#1917 Metrics SDK fixes
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#1934 Clean up the Metrics top level README
  specification/metrics/README.md
Labels: spec:metrics, area:miscellaneous

#1930 Improve the Metrics API/SDK spec wording
  specification/metrics/api.md
  specification/metrics/sdk.md
Labels: area:api, area:sdk, spec:metrics, editorial

#1898 Capture HTTP request/response headers as span attributes
  CHANGELOG.md
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, spec:trace

#1942 Revert "Add InstrumentationLibrary to Sampler.ShouldSample (#1850)"
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/trace/sdk.md
Labels: area:sdk, area:sampling, spec:trace

#1938 Remove MeasurementProcessor from the Metrics SDK spec
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#1892 Exempt resources from attribute limits
  CHANGELOG.md
  specification/common/common.md
Labels: area:sdk, spec:resource

#1959 Upgrade semconv generator to v0.7.0
  .vscode/settings.json
  Makefile
  semantic_conventions/README.md
Labels: area:semantic-conventions, editorial

#1941 Add missing fields to logs mapping from universal model to Splunk HEC
  specification/logs/data-model.md
Labels: spec:logs, area:data-model

#1950 Add resource detectors to compliance matrix
  spec-compliance-matrix.md
Labels: editorial

#1944 Refer and link to exception semantic conventions
  specification/logs/data-model.md
Labels: spec:logs, area:data-model

#1940 Update host field in mapping from HEC to the Unified model
  specification/logs/data-model.md
Labels: spec:logs, area:data-model

#1965 Update env variable values to match other env variables.
  specification/metrics/sdk.md
  specification/sdk-environment-variables.md
Labels: area:sdk, spec:metrics, area:configuration

#1914 Avoid using gRPC when generic RPC systems have same properties
  CHANGELOG.md
  semantic_conventions/trace/rpc.yaml
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace

#1923 Allow implementations to use their own default for OTLP compression.
  CHANGELOG.md
  specification/protocol/exporter.md
Labels: area:sdk, area:configuration

#1955 Clarify OTLP server components MUST support none/gzip compression.
  CHANGELOG.md
  specification/protocol/otlp.md
Labels: area:sdk, spec:protocol

#1970 Change OTLP/HTTP port from 4317 to 4318 (#1839)
  CHANGELOG.md
  specification/protocol/exporter.md
  specification/protocol/otlp.md
Labels: spec:protocol

#1958 Multiple improvements to the Metrics SDK
  CHANGELOG.md
  specification/library-guidelines.md
  specification/metrics/api.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#1966 Add metrics spec supplementary guidelines
  specification/metrics/supplementary-guidelines.md
Labels: area:sdk, spec:metrics
