Repository open-telemetry/opentelemetry-specification, pull requests merged in 2021-02, with the labels that each got.

#1393 Remove contradictory and confusing statement from Resource Attributes
  specification/resource/sdk.md
Labels: area:sdk, priority:p3, release:allowed-for-ga, spec:resource

#1382 Rename old env variables that use TRACE_ with TRACES_
  CHANGELOG.md
  specification/sdk-environment-variables.md
Labels: area:sdk, priority:p1, release:required-for-ga, spec:trace

#1358 Modify Exporter format variables for 1.0 (allowing further specification post 1.0)
  specification/protocol/exporter.md
  specification/sdk-environment-variables.md
Labels: priority:p1, release:required-for-ga

#1439 Add none for exporter selection enums.
  CHANGELOG.md
  specification/sdk-environment-variables.md
Labels: area:sdk, spec:metrics, spec:trace

#1452 Add ForceFlush to Tracing SDK
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/trace/sdk.md
Labels: area:sdk, spec:trace
