Repository open-telemetry/opentelemetry-specification, pull requests merged in 2021-11, with the labels that each got.

#2088 Minimal changes to metrics matrix to clear up some issues.
  spec-compliance-matrix.md
Labels: spec:metrics, area:miscellaneous

#1980 Clarify difference between `container.name` and `k8s.container.name`
  semantic_conventions/resource/container.yaml
  semantic_conventions/resource/k8s.yaml
  specification/resource/semantic_conventions/container.md
  specification/resource/semantic_conventions/k8s.md
Labels: area:semantic-conventions, spec:resource

#2094 Fix typo in metrics/datamodel.md
  specification/metrics/datamodel.md
Labels: spec:metrics, area:data-model

#2099 Update OTel-Go metrics SDK compliance
  spec-compliance-matrix.md
Labels: spec:metrics, area:miscellaneous

#2059 Clarify View/Exemplar and View/attribute-keys
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2104 Move Metrics API spec to Stable
  CHANGELOG.md
  specification/metrics/api.md
Labels: area:api, spec:metrics

#2022 Add semantic conventions for log media attributes
  CHANGELOG.md
  specification/logs/data-model.md
  specification/logs/semantic_conventions/README.md
  specification/logs/semantic_conventions/media.md
Labels: area:semantic-conventions, spec:logs

#2103 Add exemplar compliance lines to the compliance matrix.
  spec-compliance-matrix.md
Labels: spec:metrics

#2101 Rename None aggregation to Drop
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2106 Clarify Metric data type
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2131 Move Metrics In-memory/OTLP/Stdout exporters to Feature-freeze
  CHANGELOG.md
  specification/metrics/sdk_exporters/in-memory.md
  specification/metrics/sdk_exporters/otlp.md
  specification/metrics/sdk_exporters/stdout.md
Labels: area:sdk, spec:metrics

#2128 Tidy the default value descriptions
  specification/sdk-environment-variables.md
Labels: area:sdk, spec:resource, editorial

#2132 Clarify aggregation temporality selection
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2146 [editorial] Ensure all ToCs are generated using markdown-toc
  Makefile
  specification/baggage/api.md
  specification/common/attribute-naming.md
  specification/common/common.md
  specification/context/api-propagators.md
  specification/context/context.md
  specification/glossary.md
  specification/metrics/README.md
  specification/metrics/api.md
  specification/metrics/datamodel.md
  specification/metrics/sdk.md
  specification/metrics/supplementary-guidelines.md
  specification/overview.md
  specification/protocol/otlp.md
  specification/sdk-configuration.md
  specification/trace/api.md
  specification/trace/sdk.md
  specification/vendors.md
  specification/versioning-and-stability.md
Labels: editorial

#2158 Adjust the metrics SDK spec wording regarding exporter and aggregated…
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, release:allowed-for-ga, editorial

#2154 Remove the concept of supported temporality, keep preferred
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, release:required-for-ga

#2136 [editorial] Library layout: fix headings to avoid 404s
  specification/library-layout.md
Labels: editorial

#2161 Change some would be -> MUST in metrics spec.
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, release:allowed-for-ga

#2163 Clarify SDK must apply a default aggregation if not specified.
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, release:allowed-for-ga

#2153 Metrics SDK - consolidate the aggregation/aggregator term
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, release:required-for-ga

#2166 Add notes to MetricReader.Collect about overriding
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, release:allowed-for-ga

#2156 Clarify that reader has one exporter, but more readers can exists
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2174 Fix typo in metrics/sdk
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, release:allowed-for-ga, editorial
