Repository open-telemetry/opentelemetry-specification, pull requests merged in 2021-05, with the labels that each got.

#1674 rename api.md to old_api.md and update links (to point to new_api.md)
  README.md
  specification/glossary.md
  specification/library-guidelines.md
  specification/library-layout.md
  specification/metrics/README.md
  specification/metrics/datamodel.md
  specification/metrics/old_api.md
  specification/metrics/semantic_conventions/openmetrics-guidelines.md
  specification/resource/sdk.md
Labels: area:api, spec:metrics

#1672 Rename the metrics new_api.md to api.md and updated links
  README.md
  specification/glossary.md
  specification/library-guidelines.md
  specification/library-layout.md
  specification/metrics/README.md
  specification/metrics/api.md
  specification/metrics/datamodel.md
  specification/metrics/old_api.md
  specification/metrics/semantic_conventions/openmetrics-guidelines.md
  specification/resource/sdk.md
Labels: area:api, spec:metrics

#1643 added JSON RPC specific attributes
  CHANGELOG.md
  semantic_conventions/trace/rpc.yaml
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace

#1687 Fix typo in openmetrics-guidelines.md
  specification/metrics/semantic_conventions/openmetrics-guidelines.md
Labels: editorial

#1686 Fix changelog for #1643
  CHANGELOG.md
Labels: editorial

#1664 Add Histogram description to DataModel Specification
  CHANGELOG.md
  specification/metrics/datamodel.md
  specification/metrics/img/model-delta-histogram.png
Labels: area:data-model, spec:metrics

#1646 Add detail about StartTimeUnixNano, gaps and resets
  CHANGELOG.md
  specification/metrics/datamodel.md
Labels: Stale, area:data-model, spec:metrics

#1689 Add memcached to db.system semantic conventions
  CHANGELOG.md
  semantic_conventions/trace/database.yaml
  specification/trace/semantic_conventions/database.md
Labels: area:semantic-conventions, spec:trace

#1703 Add details to Asynchronous Gauge API
  specification/metrics/api.md
Labels: area:api, spec:metrics

#1596 Add Device (Mobile) and OS Version Resource Semantic Attributes
  CHANGELOG.md
  semantic_conventions/resource/device.yaml
  semantic_conventions/resource/os.yaml
  specification/resource/semantic_conventions/README.md
  specification/resource/semantic_conventions/device.md
  specification/resource/semantic_conventions/os.md
Labels: area:semantic-conventions, spec:resource

#1673 Metrics SDK spec skeleton
  specification/metrics/README.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#1704 Add details to Asynchronous UpDownCounter API
  specification/metrics/api.md
Labels: area:api, spec:metrics

#1716 Fix a few typos in the datamodel specification
  specification/metrics/datamodel.md
Labels: area:data-model, editorial, spec:metrics

#1735 Change links from Gitter to Slack
  CONTRIBUTING.md
  specification/library-guidelines.md
Labels: editorial
