Repository open-telemetry/opentelemetry-specification, pull requests merged in 2022-11, with the labels that each got.

#2878 Clarify that Scope is defined at build time
  specification/glossary.md
Labels: Stale

#2931 Editorial - replace cpu with CPU in descriptions
  specification/metrics/data-model.md
  specification/metrics/semantic_conventions/faas-metrics.md
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
Labels: editorial

#2959 Limit configuration envvars: unset = empty.
  specification/sdk-environment-variables.md
Labels: bug, area:sdk, editorial, area:configuration

#2967 [pull request template] fix internal links
  .github/PULL_REQUEST_TEMPLATE.md
Labels: editorial

#2951 Define MetricProducer as a third-party provider of metric data to MetricReaders
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2981 Rename grpc metadata attribute names to reflect that they are grpc-specific
  CHANGELOG.md
  specification/trace/semantic_conventions/rpc.md
Labels: editorial

#2963 Specify how to deal with invalid numeric envvars
  CHANGELOG.md
  specification/sdk-environment-variables.md
Labels: area:sdk, area:configuration

#2978 List the machine-id as potential source for a unique host.id
  semantic_conventions/resource/host.yaml
  specification/resource/semantic_conventions/host.md
Labels: enhancement, area:semantic-conventions, spec:resource

#2966 Make sure it is very clear we are not building a Logging API
  specification/logs/api.md
Labels: area:api, spec:logs, Stale, editorial
