Repository open-telemetry/opentelemetry-specification, pull requests merged in 2022-03, with the labels that each got.

#2372 Clarify that instrument name conflict only happens within a Meter
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2378 Clarify that push metric exporters can be paired with any MetricReader
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2323 [linters] Install tools based on versions in package.json
  .github/workflows/checks.yaml
  CONTRIBUTING.md
  Makefile
  package.json
Labels: editorial

#2361 Clarify asynchronous instrument callback documentation and order-of-execution requirements
  CHANGELOG.md
  specification/metrics/api.md
Labels: area:api, spec:metrics

#2290 Define JavaScript runtimes semantic conventions
  CHANGELOG.md
  specification/resource/semantic_conventions/process.md
Labels: area:semantic-conventions, spec:resource

#2383 Add documentation requirement for adding attributes at span creation
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/trace/api.md
Labels: area:api, spec:trace

#2377 Add table for well-known rpc.system values
  CHANGELOG.md
  semantic_conventions/trace/rpc.yaml
  specification/metrics/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace

#2399 Bump semantic conventions tool to v0.11.0 and refine enum wording
  .vscode/settings.json
  Makefile
  semantic_conventions/README.md
  specification/metrics/semantic_conventions/rpc.md
  specification/resource/semantic_conventions/README.md
  specification/resource/semantic_conventions/cloud.md
  specification/resource/semantic_conventions/host.md
  specification/resource/semantic_conventions/os.md
  specification/trace/semantic_conventions/database.md
  specification/trace/semantic_conventions/faas.md
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/span-general.md
Labels: editorial

#2379 Default push metric exporters to use a periodic metric reader
  CHANGELOG.md
  specification/metrics/sdk_exporters/in-memory.md
  specification/metrics/sdk_exporters/otlp.md
  specification/metrics/sdk_exporters/stdout.md
Labels: area:sdk, spec:metrics, release:allowed-for-ga

#1978 Introduce new semantic conventions for CloudEvents
  CHANGELOG.md
  semantic_conventions/trace/cloudevents.yaml
  specification/trace/semantic_conventions/cloudevents.md
Labels: area:semantic-conventions, spec:trace

#2406 Clarify that MetricReader has one-to-one mapping to MeterProvider
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, release:required-for-ga

#2404 Clarify MetricReader parameters and temporality controls
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/metrics/sdk.md
  specification/metrics/sdk_exporters/in-memory.md
  specification/metrics/sdk_exporters/otlp.md
  specification/metrics/sdk_exporters/stdout.md
  specification/metrics/supplementary-guidelines.md
Labels: area:sdk, spec:metrics, release:allowed-for-ga

#2423 Duplicate word removal
  specification/protocol/otlp.md
Labels: editorial

#2426 Fix links
  semantic_conventions/trace/exception.yaml
  specification/common/common.md
  specification/glossary.md
  specification/metrics/datamodel.md
  specification/metrics/semantic_conventions/rpc.md
  specification/metrics/semantic_conventions/system-metrics.md
  specification/protocol/exporter.md
  specification/sdk-environment-variables.md
  specification/trace/api.md
  specification/trace/sdk.md
  specification/trace/semantic_conventions/exceptions.md
  specification/trace/semantic_conventions/messaging.md
  specification/trace/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/span-general.md
Labels: editorial

#2415 Specify MetricReader defaults for stdout MetricExporter
  CHANGELOG.md
  specification/metrics/sdk_exporters/stdout.md
Labels: area:sdk, spec:metrics

#2428 Small minor spelling/grammar improvements
  specification/schemas/overview.md
Labels: editorial

#2285 Update docfx sanity check
  .github/workflows/checks.yaml
  docfx.cmd
  docfx.json
  specification/metrics/supplementary-guidelines.md
  toc.yml
Labels: Stale, editorial

#2435 Clarify system.cpu.utilization metric definition
  specification/metrics/semantic_conventions/README.md
  specification/metrics/semantic_conventions/system-metrics.md
Labels: bug, area:semantic-conventions, spec:metrics

#2440 Clarify how metric metadata and type suffixes are handled
  specification/metrics/datamodel.md
Labels: spec:metrics, area:data-model

#2455 Use MAY instead of may
  specification/error-handling.md
Labels: editorial

#2368 setstatus: clear up the wording around documenting descriptions
  specification/trace/api.md
Labels: area:api, area:error-reporting, spec:trace

#2436 Add process.cpu.utilization metric
  CHANGELOG.md
  specification/metrics/semantic_conventions/process-metrics.md
Labels: enhancement, area:semantic-conventions, spec:metrics

#2453 Add rpc.system value for Apache Dubbo
  CHANGELOG.md
  semantic_conventions/trace/rpc.yaml
  specification/metrics/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:metrics, spec:trace
