Repository open-telemetry/opentelemetry-specification, pull requests merged in 2022-05, with the labels that each got.

#2508 Specify how to obtain a Ruby thread's id
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, spec:trace

#2485 Initial addition of Kafka metrics.
  specification/metrics/semantic_conventions/instrumentation/kafka.md
Labels: area:semantic-conventions, spec:metrics

#2252 Specify optional Exponential Histogram Aggregation, add example code in the data model
  CHANGELOG.md
  specification/metrics/datamodel.md
  specification/metrics/sdk.md
Labels: area:api, spec:metrics

#2502 Azure FaaS conventions.
  CHANGELOG.md
  semantic_conventions/resource/faas.yaml
  specification/resource/semantic_conventions/faas.md
  specification/trace/semantic_conventions/faas.md
Labels: area:semantic-conventions, spec:resource, spec:trace

#2522 Define attribute requirement levels
  CHANGELOG.md
  semantic_conventions/README.md
  specification/common/README.md
  specification/common/attribute-requirement-level.md
Labels: area:semantic-conventions

#2550 Refactor jvm classes semantic conventions
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2561 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: editorial

#2571 Supplementary guidance for metrics additive property
  specification/metrics/supplementary-guidelines.md
Labels: spec:metrics

#2570 Update Prometheus Sums for handling delta counter case
  specification/metrics/datamodel.md
Labels: spec:metrics, area:data-model

#2536 Add remaining Kafka and Kafka consumer metrics.
  CHANGELOG.md
  specification/metrics/semantic_conventions/instrumentation/kafka.md
Labels: area:semantic-conventions, spec:metrics

#2292 Add semantic conventions for jvm cpu metrics
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2584 Add changelog entry about semantic conventions for jvm cpu metrics
  CHANGELOG.md
Labels: editorial
