Repository open-telemetry/opentelemetry-specification, pull requests merged in 2022-04, with the labels that each got.

#2446 Move net.peer.name from http common to http client
  CHANGELOG.md
  semantic_conventions/trace/general.yaml
  semantic_conventions/trace/http.yaml
  specification/metrics/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/database.md
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions

#2427 Remove the spec status from the metrics README.md
  specification/metrics/README.md
Labels: editorial

#2447 Add net.host.name and net.host.ip to rpc server
  CHANGELOG.md
  semantic_conventions/trace/rpc.yaml
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace

#2474 Remove spec status=Experimental from compliance matrix
  spec-compliance-matrix.md
Labels: editorial

#2479 [editorial] Ensure common section has a README
  spec-compliance-matrix.md
  specification/common/README.md
  specification/metrics/api.md
  specification/metrics/datamodel.md
  specification/metrics/sdk.md
  specification/overview.md
  specification/performance-benchmark.md
  specification/resource/sdk.md
  specification/sdk-environment-variables.md
  specification/trace/api.md
  specification/trace/sdk.md
  specification/trace/sdk_exporters/zipkin.md
Labels: editorial

#2458 Allow all metric conventions to be either synchronous or asynchronous.
  CHANGELOG.md
  specification/metrics/semantic_conventions/README.md
  specification/metrics/semantic_conventions/faas-metrics.md
  specification/metrics/semantic_conventions/http-metrics.md
  specification/metrics/semantic_conventions/process-metrics.md
  specification/metrics/semantic_conventions/rpc.md
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
  specification/metrics/semantic_conventions/system-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2484 Add missing dot to trace/sdk.md
  specification/trace/sdk.md
Labels: editorial

#2486 Fix sporadic markdown link check failures
  .markdown_link_check_config.json
  specification/compatibility/opentracing.md
  specification/trace/sdk_exporters/jaeger.md
Labels: editorial

#2476 Clarify gRPC insecure option
  CHANGELOG.md
  specification/protocol/exporter.md
Labels: spec:protocol

#2429 Drop histogram aggregation, default to explicit bucket histogram
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2462 Clarify view conflicts
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2273 Database connection pool metrics semantic conventions
  CHANGELOG.md
  specification/metrics/semantic_conventions/README.md
  specification/metrics/semantic_conventions/database-metrics.md
Labels: area:semantic-conventions, spec:metrics, semconv:database

#2490 Update java metrics compliance metrics
  spec-compliance-matrix.md
Labels: spec:miscellaneous, area:miscellaneous

#2483 Add support for exemplars on OpenMetrics counters
  specification/metrics/datamodel.md
Labels: spec:metrics, area:data-model

#2478 Update JVM metrics with JMX Gatherer values.
  CHANGELOG.md
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2363 Add an option for multi-instrument callbacks
  CHANGELOG.md
  specification/metrics/api.md
Labels: area:api, spec:metrics

#2509 Map SunOS to `solaris` for `os.type` resource attribute
  semantic_conventions/resource/os.yaml
  specification/resource/semantic_conventions/os.md
Labels: area:semantic-conventions, spec:resource
