Repository open-telemetry/opentelemetry-specification, pull requests merged in 2022-07, with the labels that each got.

#2637 Make clear that context is not mutable when setting a span
  CHANGELOG.md
  specification/trace/api.md
Labels: area:api, spec:trace

#2635 [editorial] Add Hugo front matter to selected pages
  specification/README.md
  specification/overview.md
Labels: editorial

#2651 [editorial] Add note to Hugo front matter
  specification/README.md
  specification/common/README.md
  specification/context/README.md
  specification/logs/README.md
  specification/metrics/README.md
  specification/metrics/api.md
  specification/metrics/data-model.md
  specification/metrics/sdk.md
  specification/metrics/sdk_exporters/README.md
  specification/metrics/sdk_exporters/in-memory.md
  specification/metrics/sdk_exporters/otlp.md
  specification/metrics/sdk_exporters/prometheus.md
  specification/metrics/sdk_exporters/stdout.md
  specification/metrics/semantic_conventions/README.md
  specification/metrics/semantic_conventions/database-metrics.md
  specification/metrics/semantic_conventions/faas-metrics.md
  specification/metrics/semantic_conventions/http-metrics.md
  specification/metrics/semantic_conventions/instrumentation/kafka.md
  specification/metrics/semantic_conventions/openmetrics-guidelines.md
  specification/metrics/semantic_conventions/process-metrics.md
  specification/metrics/semantic_conventions/rpc.md
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
  specification/metrics/semantic_conventions/system-metrics.md
  specification/overview.md
Labels: editorial

#2644 Only monotonic sum are counters (with _total)
  specification/metrics/data-model.md
Labels: spec:metrics, area:data-model

#2648 Fix metrics SDK table of contents
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, editorial

#2538 Clarify async instrument callback identity
  CHANGELOG.md
  specification/metrics/api.md
Labels: area:api, spec:metrics, Stale

#2660 Editorial: Combine histograms under shared heading
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, editorial

#2614 Define net.sock attributes and clarify logical net.peer|host.name attributes
  .vscode/settings.json
  CHANGELOG.md
  Makefile
  internal/tools/schema_check.sh
  schemas/1.12.0
  semantic_conventions/README.md
  semantic_conventions/trace/database.yaml
  semantic_conventions/trace/general.yaml
  semantic_conventions/trace/http.yaml
  semantic_conventions/trace/messaging.yaml
  semantic_conventions/trace/rpc.yaml
  specification/common/attribute-requirement-level.md
  specification/metrics/semantic_conventions/http-metrics.md
  specification/metrics/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/database.md
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/messaging.md
  specification/trace/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, spec:metrics, spec:trace, semconv:HTTP

#2583 Update metrics supplementary guidelines to use the term Additive Property
  specification/metrics/supplementary-guidelines.md
Labels: editorial

#2650 Add JVM buffer pool semantic conventions
  CHANGELOG.md
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2645 [OM/OTLP] Use _created for StartTimeUnixNano and vice-versa
  specification/metrics/data-model.md
Labels: spec:metrics, area:data-model

#2654 Clarify SpanExporter#ForceFlush is required
  CHANGELOG.md
  specification/trace/sdk.md
Labels: area:sdk, spec:trace

#2669 Make GitHub links relative for links to specification documents
  experimental/serialization/json.md
  specification/logs/semantic_conventions/media.md
  specification/metrics/data-model.md
Labels: editorial

#2663 add definition for state attribute of system.network.connections
  CHANGELOG.md
  specification/metrics/semantic_conventions/system-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2653 Introduce "split" metric schema transformation
  CHANGELOG.md
  specification/schemas/file_format_v1.1.0.md
  specification/schemas/overview.md
  specification/versioning-and-stability.md
Labels: area:semantic-conventions, spec:metrics

#2673 [editorial] Clarify wording on exporter interfaces
  specification/trace/sdk.md
Labels: area:sdk, spec:trace, editorial

#2694 Fix trivial typo
  specification/compatibility/opentracing.md
Labels: editorial

#2698 Correct the spec status for Exponential Bucket Histogram
  specification/metrics/sdk.md
Labels: editorial

#2693 Add 'type' to all groups
  semantic_conventions/resource/browser.yaml
  semantic_conventions/resource/cloud.yaml
  semantic_conventions/resource/cloud_provider/aws/ecs.yaml
  semantic_conventions/resource/cloud_provider/aws/eks.yaml
  semantic_conventions/resource/cloud_provider/aws/logs.yaml
  semantic_conventions/resource/container.yaml
  semantic_conventions/resource/deployment_environment.yaml
  semantic_conventions/resource/device.yaml
  semantic_conventions/resource/faas.yaml
  semantic_conventions/resource/host.yaml
  semantic_conventions/resource/k8s.yaml
  semantic_conventions/resource/os.yaml
  semantic_conventions/resource/process.yaml
  semantic_conventions/resource/service.yaml
  semantic_conventions/resource/telemetry.yaml
  semantic_conventions/resource/webengine.yaml
  semantic_conventions/trace/aws/lambda.yaml
  semantic_conventions/trace/cloudevents.yaml
  semantic_conventions/trace/compatibility.yaml
  semantic_conventions/trace/database.yaml
  semantic_conventions/trace/faas.yaml
  semantic_conventions/trace/general.yaml
  semantic_conventions/trace/http.yaml
  semantic_conventions/trace/instrumentation/aws-sdk.yml
  semantic_conventions/trace/instrumentation/graphql.yml
  semantic_conventions/trace/messaging.yaml
  semantic_conventions/trace/rpc.yaml
Labels: area:semantic-conventions, editorial

#2469 Remove alternative attribute sets from HTTP semantic conventions
  semantic_conventions/trace/general.yaml
  semantic_conventions/trace/http.yaml
  specification/metrics/semantic_conventions/http-metrics.md
  specification/trace/semantic_conventions/database.md
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/messaging.md
  specification/trace/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, spec:metrics, spec:trace, semconv:HTTP

#2691 add process.parent_pid attribute
  CHANGELOG.md
  semantic_conventions/resource/process.yaml
  specification/resource/semantic_conventions/process.md
Labels: area:semantic-conventions, spec:resource

#2662 Update JS metrics status in spec compliance matrix
  spec-compliance-matrix.md
Labels: Stale
