Repository open-telemetry/opentelemetry-specification, pull requests merged in 2022-10, with the labels that each got.

#2818 Fix inconsistent metric usage of http.target
  CHANGELOG.md
  specification/metrics/semantic_conventions/http-metrics.md
Labels: area:semantic-conventions, spec:metrics, semconv:HTTP

#2837 Change to messaging.kafka.max.lag from UpDownCounter to Gauge (and rename it)
  specification/metrics/semantic_conventions/instrumentation/kafka.md
Labels: area:semantic-conventions

#2831 Link to RPC in Metrics Semantic Conventions
  specification/metrics/semantic_conventions/README.md
  specification/metrics/semantic_conventions/rpc-metrics.md
Labels: editorial

#2828 add daemon attribute to jvm threads metric
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
Labels: Stale

#2703 Add Instrumentation Scope and Version as labels in Prometheus
  CHANGELOG.md
  specification/metrics/data-model.md
Labels: area:semantic-conventions, spec:metrics

#2870 [editorial] Adds alias for redirect rule due to name change - metrics/data-model
  specification/metrics/data-model.md
Labels: editorial

#2827 Add `process.paging.faults` metric to semantic conventions
  CHANGELOG.md
  specification/metrics/semantic_conventions/process-metrics.md
Labels: area:semantic-conventions

#2892 Clarify that `Description` and `message` are equivalent in Span Status
  specification/trace/api.md
Labels: area:api, spec:trace, editorial

#2850 Define semantic conventions yaml for non-otlp conventions
  semantic_conventions/scope/exporter/exporter.yaml
  semantic_conventions/trace/exporter/exporter.yaml
  specification/common/mapping-to-non-otlp.md
Labels: area:semantic-conventions
