Repository open-telemetry/opentelemetry-specification, pull requests merged in 2022-06, with the labels that each got.

#2595 Fix typo
  specification/trace/semantic_conventions/http.md
Labels: editorial

#2597 Fix typo in the metrics API/SDK specs
  specification/metrics/api.md
  specification/metrics/sdk.md
Labels: editorial

#2587 Move non-otlp.md to common directory
  specification/common/mapping-to-non-otlp.md
  specification/trace/sdk.md
  specification/trace/sdk_exporters/jaeger.md
  specification/trace/sdk_exporters/zipkin.md
Labels: spec:protocol

#2608 Clarify grammar for no criteria views being an error
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2579 Introduce Instrumentation Scope Attributes
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/common/mapping-to-non-otlp.md
  specification/logs/logging-library-sdk.md
  specification/metrics/api.md
  specification/trace/api.md
Labels: area:api, spec:metrics, spec:logs, spec:trace

#2456 Add semantic conventions for GraphQL
  CHANGELOG.md
  semantic_conventions/trace/instrumentation/graphql.yml
  specification/trace/semantic_conventions/README.md
  specification/trace/semantic_conventions/instrumentation/graphql.md
Labels: area:semantic-conventions, spec:trace, Stale

#2619 Config option enabling exponential histogram as default histogram aggregation
  CHANGELOG.md
  specification/metrics/sdk.md
  specification/metrics/sdk_exporters/otlp.md
Labels: area:sdk, spec:metrics

#2556 Add network metrics to process semantic conventions
  CHANGELOG.md
  specification/metrics/semantic_conventions/process-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2452 span exporter concurrency: expand on Export() requirements
  CHANGELOG.md
  specification/trace/sdk.md
Labels: area:sdk, spec:trace

#2630 Fix typo in default histogram aggregation
  specification/metrics/sdk_exporters/otlp.md
Labels: spec:metrics, editorial

#2627 FaaS conventions: make faas.document.time and faas.time attributes recommended
  CHANGELOG.md
  semantic_conventions/trace/faas.yaml
  specification/trace/semantic_conventions/faas.md
Labels: area:semantic-conventions, spec:trace

#2634 Unify Inject spell
  specification/context/api-propagators.md
Labels: editorial

#2617 add metrics to replace metrics with `direction`
  CHANGELOG.md
  specification/metrics/semantic_conventions/process-metrics.md
  specification/metrics/semantic_conventions/system-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2604 Add rpc.grpc.status_code attribute to rpc metric semantic conventions
  CHANGELOG.md
  specification/metrics/semantic_conventions/rpc.md
Labels: area:semantic-conventions

#2588 Add metrics for http request and response size
  CHANGELOG.md
  specification/metrics/semantic_conventions/http-metrics.md
Labels: area:semantic-conventions, spec:metrics, semconv:HTTP
