Repository open-telemetry/opentelemetry-specification, pull requests merged in 2022-09, with the labels that each got.

#2748 Revert #2617, #2675, #2688: "add metrics to replace metrics with `direction`"
  CHANGELOG.md
  schemas/1.13.0
  specification/metrics/semantic_conventions/process-metrics.md
  specification/metrics/semantic_conventions/system-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2790 [chore] Remove unused links
  specification/trace/sdk.md
Labels: editorial

#2782 Add OTEL_EXPORTER_OTLP_LOGS_* environment variables
  CHANGELOG.md
  specification/protocol/exporter.md
Labels: area:sdk, spec:logs, area:configuration

#2803 Fix a typo in system-metrics
  specification/metrics/semantic_conventions/system-metrics.md
Labels: area:semantic-conventions

#2807 Fix nits: incorrect unit for CPU utilization
  specification/metrics/semantic_conventions/process-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2808 Fix outdated link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: editorial

#2758 Prohibit usage of enum value name strings in OTLP/JSON
  specification/protocol/otlp.md
Labels: spec:protocol

#2761 Add mobile and language semconv for browser resource
  CHANGELOG.md
  semantic_conventions/resource/browser.yaml
  specification/resource/semantic_conventions/browser.md
Labels: area:semantic-conventions, spec:resource

#2684 add user agent to OTLP exporter spec
  CHANGELOG.md
  specification/protocol/exporter.md
Labels: area:sdk, spec:protocol

#2770 Change the default buckets for Explicit Bucket Histogram
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2706 Add additional process metrics to the metrics semantic conventions
  CHANGELOG.md
  specification/metrics/semantic_conventions/process-metrics.md
Labels: enhancement, area:semantic-conventions, spec:metrics

#2755 Definition of boolean environment variables on the SDK
  CHANGELOG.md
  specification/sdk-environment-variables.md
Labels: area:sdk, area:configuration

#2679 Add OTEL_SDK_DISABLED env var to disable opentelemetry SDK.
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/sdk-environment-variables.md
Labels: enhancement, area:sdk, area:configuration

#2823 Minor fix: move #2785 from released to unreleased
  CHANGELOG.md
Labels: editorial

#2819 [Logs] Add semantic conventions for writing exceptions
  CHANGELOG.md
  semantic_conventions/exception.yaml
  semantic_conventions/logs/log-exception.yaml
  semantic_conventions/trace/trace-exception.yaml
  specification/logs/data-model.md
  specification/logs/semantic_conventions/exceptions.md
  specification/trace/semantic_conventions/exceptions.md
Labels: area:semantic-conventions, spec:logs

#2842 Update compliance matrix to reflect the OTLP user agent spec
  CHANGELOG.md
  spec-compliance-matrix.md
Labels: editorial

#2750 Make messaging context propagation requirements explicit
  CHANGELOG.md
  specification/trace/semantic_conventions/messaging.md
Labels: area:semantic-conventions, semconv:messaging
