Repository open-telemetry/opentelemetry-specification, pull requests merged in 2022-08, with the labels that each got.

#2518 Add hardware-metrics to semantic conventions
  CHANGELOG.md
  specification/metrics/semantic_conventions/README.md
  specification/metrics/semantic_conventions/hardware-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2721 Fix CHANGELOG.md
  CHANGELOG.md
Labels: editorial

#2718 Add OpenSearch in the database group
  CHANGELOG.md
  semantic_conventions/trace/database.yaml
  specification/trace/semantic_conventions/database.md
Labels: area:semantic-conventions

#2633 Change the inclusivity of exponential histogram bounds
  specification/metrics/data-model.md
Labels: area:sdk, spec:metrics

#2723 Inserts links to each Protocol Buffer definition by Telemetry signal
  specification/protocol/otlp.md
Labels: editorial

#2725 Upgrade semantic convention tool to v0.14.0
  .vscode/settings.json
  Makefile
  semantic_conventions/README.md
Labels: editorial

#2705 Add process.threads
  CHANGELOG.md
  specification/metrics/semantic_conventions/process-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2745 Fix broken link in metrics data model doc.
  specification/metrics/data-model.md
Labels: editorial

#2681 Allow LogProcessor to mutate log records
  CHANGELOG.md
  specification/logs/logging-library-sdk.md
Labels: spec:logs

#2760 Add scope attributes to tracer and meter creation
  specification/metrics/sdk.md
  specification/trace/sdk.md
Labels: area:sdk, spec:metrics, spec:trace

#2676 Events and logs api
  CHANGELOG.md
  semantic_conventions/logs/events.yaml
  specification/logs/api.md
  specification/logs/semantic_conventions/README.md
  specification/logs/semantic_conventions/events.md
Labels: enhancement, area:api, area:semantic-conventions, spec:logs

#2765 Fix typo in logs overview
  specification/logs/README.md
Labels: editorial
