Repository open-telemetry/opentelemetry-specification, pull requests merged in 2022-12, with the labels that each got.

#2995 Fix net peer name IP example address
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, spec:trace, editorial

#2982 Add `messaging.kafka.message.offset` attribute
  CHANGELOG.md
  semantic_conventions/trace/messaging.yaml
  specification/trace/semantic_conventions/messaging.md
Labels: area:semantic-conventions, spec:trace, semconv:messaging

#2529 Add feature flagging semantic conventions
  CHANGELOG.md
  semantic_conventions/logs/log-feature_flag.yaml
  semantic_conventions/trace/feature-flag.yaml
  specification/logs/semantic_conventions/feature-flags.md
  specification/trace/semantic_conventions/README.md
  specification/trace/semantic_conventions/feature-flags.md
Labels: area:semantic-conventions

#2942 Update semconv for hardware metrics to use `direction` attributes
  CHANGELOG.md
  specification/metrics/semantic_conventions/hardware-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2985 [resource] add openshift platform to all supported cloud providers
  CHANGELOG.md
  semantic_conventions/resource/cloud.yaml
  specification/resource/semantic_conventions/cloud.md
Labels: enhancement, area:semantic-conventions, spec:resource

#3020 Update Tracing API: IsRecording wording
  specification/trace/api.md
Labels: area:api, spec:trace, editorial

#3036 Tracing SDK: Do not use comparison operator
  specification/trace/sdk.md
Labels: area:sdk, spec:trace, editorial

#3045 [editorial] Metrics hardware sem. conv. front matter
  specification/metrics/semantic_conventions/hardware-metrics.md
Labels: editorial

#3044 Clarify common HTTP attributes apply to both clients and servers
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, spec:trace, editorial, semconv:HTTP

#3046 [editorial] Ensure schemas section has a README, and other changes
  specification/schemas/README.md
  specification/schemas/file_format_v1.0.0.md
  specification/schemas/file_format_v1.1.0.md
  specification/telemetry-stability.md
  specification/versioning-and-stability.md
Labels: editorial

#2957 Refactor messaging attributes and specify per-message attributes
  CHANGELOG.md
  schemas/1.17.0
  semantic_conventions/trace/messaging.yaml
  specification/trace/semantic_conventions/instrumentation/aws-lambda.md
  specification/trace/semantic_conventions/messaging.md
Labels: area:semantic-conventions, spec:trace, semconv:messaging
