Repository open-telemetry/opentelemetry-specification, pull requests merged in 2022-01, with the labels that each got.

#2236 Upgrade semconv generator to v0.8.0
  .vscode/settings.json
  Makefile
  semantic_conventions/README.md
  specification/trace/semantic_conventions/exceptions.md
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace, Stale, editorial

#2242 Fix the number of points kind in the metrics datamodel
  specification/metrics/datamodel.md
Labels: spec:metrics, area:data-model, editorial

#2243 Fix references to temporality data points, add exponential histogram
  specification/metrics/datamodel.md
Labels: spec:metrics, area:data-model

#2238 Rename observer result to observable result
  specification/metrics/api.md
Labels: area:api, spec:metrics, editorial

#2208 Metrics supplemental guidelines for async views
  CHANGELOG.md
  specification/metrics/supplementary-guidelines.md
Labels: spec:metrics, release:required-for-ga

#2221 Clarifications on periodic exporting metric reader
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#2164 Use RFC SHOULD NOT wording in histogram aggregation
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, Stale

#2256 Add link from FaaS trace to resource attributes
  specification/trace/semantic_conventions/faas.md
Labels: editorial

#2257 Add placeholder for jvm metrics
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2061 Add semantic conventions for process metrics
  CHANGELOG.md
  specification/metrics/semantic_conventions/README.md
  specification/metrics/semantic_conventions/process-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2272 Add jvm memory runtime metrics
  CHANGELOG.md
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
Labels: area:semantic-conventions, spec:metrics

#2262 Change golang namespace to 'go', rather than 'gc'
  specification/resource/semantic_conventions/process.md
Labels: Stale

#2271 Drop log Name field
  CHANGELOG.md
  specification/logs/data-model.md
Labels: spec:logs, area:data-model

#2297 Add opentracing.ref_type semantic convention.
  CHANGELOG.md
  semantic_conventions/trace/compatibility.yaml
  specification/compatibility/opentracing.md
  specification/trace/semantic_conventions/README.md
  specification/trace/semantic_conventions/compatibility.md
Labels: area:semantic-conventions, spec:trace
