Repository open-telemetry/opentelemetry-specification, pull requests merged in 2023-08, with the labels that each got.

#3627 Revise the exemplar default reservoirs
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: spec:metrics

#3637 Add OTLP partial success message handling to compliance matrix
  spec-compliance-matrix.md
Labels: editorial

#3633 Fix inconsistent tracestate reference
  specification/overview.md
Labels: editorial

#3563 Refine MetricProvider.ForceFlush and define ForceFlush for periodic exporting MetricReader
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#3626 Specify how to handle instrument name conflict
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#3242 Attribute sets not observed during async callbacks are not exported
  CHANGELOG.md
  specification/metrics/sdk.md
  specification/metrics/supplementary-guidelines.md
Labels: area:sdk, spec:metrics

#3629 logs: Document Flags mapping in Google Cloud logs appendix
  CHANGELOG.md
  specification/logs/data-model-appendix.md
Labels: spec:logs, area:data-model

#3655 Promote MetricProducer specification to feature-freeze
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#3671 Fix missing delta export and a typo in supplementary guidelines
  specification/metrics/supplementary-guidelines.md
Labels: editorial

#3670 Recommend a default size of 1 for the `SimpleFixedSizeExemplarReservoir`
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/metrics/sdk.md
Labels: spec:metrics
