Repository open-telemetry/opentelemetry-specification, pull requests merged in 2023-02, with the labels that each got.

#3066 Clarify prometheus unit conversions
  specification/compatibility/prometheus_and_openmetrics.md
Labels: Stale

#3067 Specify MeterProvider implementation creation in SDK specification instead of the API specification
  specification/metrics/api.md
  specification/metrics/sdk.md
Labels: editorial

#3165 Changes to http span name
  CHANGELOG.md
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, spec:trace, semconv:HTTP

#3151 Clarify guidance regarding excessive logging
  CHANGELOG.md
  specification/logs/sdk.md
  specification/trace/sdk.md
Labels: area:sdk, area:error-reporting

#3158 Add http metrics yaml
  CHANGELOG.md
  semantic_conventions/metrics/http.yaml
  specification/metrics/semantic_conventions/http-metrics.md
Labels: area:semantic-conventions, spec:metrics, semconv:HTTP

#3164 Http route should contain application root
  CHANGELOG.md
  semantic_conventions/metrics/http.yaml
  semantic_conventions/trace/http.yaml
  specification/metrics/semantic_conventions/http-metrics.md
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, semconv:HTTP

#3079 Define conversion mapping from OTel Exponential Histograms to Prometheus Native Histograms.
  CHANGELOG.md
  specification/compatibility/prometheus_and_openmetrics.md
Labels: spec:metrics

#3114 Update Apache HTTP Server access log example mapping
  specification/logs/data-model.md
Labels: spec:logs, area:data-model

#3160 Update file exporter examples
  specification/protocol/file-exporter.md
Labels: editorial

#3087 Update Zipkin remoteEndpoint preferences
  specification/trace/sdk_exporters/zipkin.md
Labels: spec:trace

#3183 Use attribute_group for cross-signal HTTP attributes
  .markdown_link_check_config.json
  semantic_conventions/http-common.yaml
  semantic_conventions/logs/events.yaml
  semantic_conventions/logs/log-exception.yaml
  semantic_conventions/metrics/http.yaml
  semantic_conventions/trace/faas.yaml
  semantic_conventions/trace/general.yaml
  semantic_conventions/trace/http.yaml
  semantic_conventions/trace/messaging.yaml
  specification/metrics/semantic_conventions/http-metrics.md
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, spec:metrics, spec:trace, semconv:HTTP

#3171 Move specification for implementations of the metric API into own specification
  specification/metrics/api.md
  specification/metrics/noop.md
  specification/metrics/sdk.md
Labels: area:api, area:sdk, spec:metrics

#3211 Fix rpc examples to include grpc namespace
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace, editorial

#3159 Get rid of double negation in Events semantic conventions
  specification/logs/semantic_conventions/events.md
Labels: editorial

#3197 Rename Logs API to Logs Bridge API to prevent confusion
  CHANGELOG.md
  specification/logs/README.md
  specification/logs/bridge-api.md
  specification/logs/event-api.md
  specification/logs/img/application-api-sdk.png
  specification/logs/sdk.md
  specification/logs/semantic_conventions/exceptions.md
  specification/logs/semantic_conventions/feature-flags.md
Labels: area:api, spec:logs

#3209 Rename `faas.execution` to `faas.invocation_id` and change units for `faas.max_memory`
  CHANGELOG.md
  schemas/1.19.0
  semantic_conventions/resource/faas.yaml
  semantic_conventions/trace/faas.yaml
  specification/metrics/semantic_conventions/faas-metrics.md
  specification/resource/semantic_conventions/faas.md
  specification/trace/semantic_conventions/faas.md
  specification/trace/semantic_conventions/instrumentation/aws-lambda.md
Labels: area:semantic-conventions, spec:metrics, spec:resource, spec:trace

#3116 Add Connect RPC to semantic conventions
  CHANGELOG.md
  semantic_conventions/trace/rpc.yaml
  specification/metrics/semantic_conventions/rpc-metrics.md
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace

#3184 Add unit to Instrument selection criteria
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#3121 Fix typos and grammar in the OTLP spec
  specification/protocol/otlp.md
Labels: editorial

#3248 Update logs spec overview to use Logs Bridge API
  specification/logs/img/app-to-otelcol.png
Labels: area:api, spec:logs, editorial

#3237 Metric requirement levels
  CHANGELOG.md
  semantic_conventions/README.md
  specification/metrics/README.md
  specification/metrics/metric-requirement-level.md
Labels: area:semantic-conventions, spec:metrics

#3220 Mark Attribute naming conventions as stable.
  CHANGELOG.md
  specification/common/attribute-naming.md
Labels: area:semantic-conventions, spec:miscellaneous

#3221 Mark telemetry schema readme stable.
  specification/schemas/README.md
Labels: area:semantic-conventions, spec:miscellaneous

#3255 Add jack-berg to auto assignment for issues and PRs
  .github/auto_assign_issue.yml
  .github/auto_assign_pr.yml
Labels: editorial

#3250 Rename nonheap to non_heap
  CHANGELOG.md
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
Labels: area:semantic-conventions, spec:metrics

#3252 Move event language from log README to event-api
  CHANGELOG.md
  specification/logs/README.md
  specification/logs/bridge-api.md
  specification/logs/event-api.md
Labels: editorial

#3075 add semantic conventions for heroku
  CHANGELOG.md
  semantic_conventions/resource/cloud.yaml
  semantic_conventions/resource/cloud_provider/heroku.yaml
  specification/resource/semantic_conventions/README.md
  specification/resource/semantic_conventions/cloud.md
  specification/resource/semantic_conventions/cloud_provider/heroku.md
Labels: area:semantic-conventions, spec:resource

#3188 Expand scope of `faas.id` to `cloud.resource_id`
  schemas/1.19.0
  semantic_conventions/resource/cloud.yaml
  semantic_conventions/resource/faas.yaml
  semantic_conventions/trace/aws/lambda.yaml
  semantic_conventions/trace/faas.yaml
  specification/resource/semantic_conventions/cloud.md
  specification/resource/semantic_conventions/faas.md
  specification/trace/semantic_conventions/faas.md
  specification/trace/semantic_conventions/instrumentation/aws-lambda.md
Labels: area:semantic-conventions, spec:metrics, spec:resource, spec:trace

#3261 Add reyang to auto assignment for issues and PRs
  .github/auto_assign_issue.yml
  .github/auto_assign_pr.yml
Labels: editorial

#3244 Remove mention of net.transport from http semantic conventions
  CHANGELOG.md
  semantic_conventions/http-common.yaml
  specification/metrics/semantic_conventions/http-metrics.md
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, spec:metrics, spec:trace, semconv:HTTP

#3173 clarify how to collect host.id for non-containerized systems
  CHANGELOG.md
  semantic_conventions/resource/host.yaml
  specification/resource/semantic_conventions/host.md
Labels: area:semantic-conventions, spec:resource
