Repository open-telemetry/opentelemetry-specification, pull requests merged in 2023-03, with the labels that each got.

#3228 Rename Optional attribute requirement level to Opt-In
  .vscode/settings.json
  Makefile
  internal/tools/schema_check.sh
  semantic_conventions/README.md
  semantic_conventions/resource/cloud_provider/heroku.yaml
  semantic_conventions/trace/http.yaml
  specification/common/attribute-requirement-level.md
  specification/metrics/semantic_conventions/hardware-metrics.md
  specification/resource/semantic_conventions/cloud_provider/heroku.md
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace

#3190 Rename http.user_agent to user_agent.original
  CHANGELOG.md
  schemas/1.19.0
  semantic_conventions/resource/browser.yaml
  semantic_conventions/trace/http.yaml
  semantic_conventions/user-agent.yaml
  specification/resource/semantic_conventions/browser.md
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, spec:trace, semconv:HTTP, area:client

#3246 Make net.sock.host.port conditionally required
  CHANGELOG.md
  semantic_conventions/trace/general.yaml
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, spec:trace, semconv:HTTP

#3050 Expand pool.name in semantic conventions
  CHANGELOG.md
  specification/metrics/semantic_conventions/database-metrics.md
Labels: area:semantic-conventions, spec:metrics, semconv:database

#3297 Use UCUM unit in example
  specification/metrics/api.md
Labels: editorial

#3305 Fix typo
  specification/logs/event-api.md
Labels: editorial

#3292 Show relationship between http target and route in example usage
  semantic_conventions/trace/http.yaml
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, semconv:HTTP

#3298 Fix grammatical number of metric semconv units
  CHANGELOG.md
  semantic_conventions/metrics/http.yaml
  specification/metrics/semantic_conventions/README.md
  specification/metrics/semantic_conventions/database-metrics.md
  specification/metrics/semantic_conventions/faas-metrics.md
  specification/metrics/semantic_conventions/hardware-metrics.md
  specification/metrics/semantic_conventions/http-metrics.md
  specification/metrics/semantic_conventions/instrumentation/kafka.md
  specification/metrics/semantic_conventions/process-metrics.md
  specification/metrics/semantic_conventions/runtime-environment-metrics.md
  specification/metrics/semantic_conventions/system-metrics.md
Labels: area:semantic-conventions, spec:metrics

#3289 Clarify that attribute requirement levels apply to instrumentation libraries
  CHANGELOG.md
  specification/common/attribute-requirement-level.md
Labels: area:semantic-conventions

#3318 Add `toc` for metric http semconv
  specification/metrics/semantic_conventions/http-metrics.md
Labels: editorial

#3251 Added AWS S3 semantic conventions
  semantic_conventions/trace/instrumentation/aws-sdk.yml
  specification/trace/semantic_conventions/instrumentation/aws-sdk.md
Labels: area:semantic-conventions, spec:trace

#3331 Logging trace context compatibility document
  CHANGELOG.md
  specification/compatibility/logging_trace_context.md
  specification/logs/README.md
Labels: editorial

#3330 Fix changelog
  CHANGELOG.md
Labels: editorial

#3258 Issue #3236 Update attribute requirement levels in hardware metrics semconv
  CHANGELOG.md
  specification/metrics/semantic_conventions/hardware-metrics.md
Labels: area:semantic-conventions, spec:metrics

#3335 Add log appender / bridge to glossary
  CHANGELOG.md
  specification/glossary.md
  specification/logs/README.md
  specification/logs/bridge-api.md
Labels: spec:logs, editorial

#3348 AWS Lambda - remove references to messaging.destination.kind and messaging.source.kind
  CHANGELOG.md
  specification/trace/semantic_conventions/instrumentation/aws-lambda.md
Labels: area:semantic-conventions, semconv:messaging

#3300 Fix units in the Kafka metric semantic conventions
  specification/metrics/semantic_conventions/instrumentation/kafka.md
Labels: area:semantic-conventions, semconv:messaging

#3257 Clarify SDK ReadableSpan's parent Context (fix accidentally requiring full parent chain)
  CHANGELOG.md
  specification/trace/api.md
  specification/trace/sdk.md
Labels: area:sdk, spec:trace, Stale
