Repository open-telemetry/opentelemetry-specification, pull requests merged in 2023-09, with the labels that each got.

#3653 Define transient error in OTLP exporter specification
  CHANGELOG.md
  specification/protocol/exporter.md
Labels: spec:protocol

#3680 Clarify the minimal implementation of a `View`'s `attribute_keys` is an allow-list
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: spec:metrics

#3685 Stabilize the `MetricProducer`
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: spec:metrics

#3693 Consistently use "advisory parameters" instead of "advice parameters"
  specification/metrics/sdk.md
Labels: editorial
