Repository open-telemetry/opentelemetry-specification, pull requests merged in 2023-05, with the labels that each got.

#3481 [editorial] specification/README: adjust Hugo front-matter linkTitle field
  specification/README.md
Labels: editorial

#3402 BREAKING: Replace `net.peer.*`/`net.host.*` with `client.*`/`server.*` (and `source.*`/`destination.*`)
  CHANGELOG.md
  schemas/1.21.0
  semantic_conventions/client.yaml
  semantic_conventions/deprecated/network.yaml
  semantic_conventions/destination.yaml
  semantic_conventions/http-common.yaml
  semantic_conventions/metrics/http.yaml
  semantic_conventions/server.yaml
  semantic_conventions/source.yaml
  semantic_conventions/trace/database.yaml
  semantic_conventions/trace/general.yaml
  semantic_conventions/trace/http.yaml
  semantic_conventions/trace/messaging.yaml
  semantic_conventions/trace/rpc.yaml
  specification/common/attribute-requirement-level.md
  specification/compatibility/prometheus_and_openmetrics.md
  specification/logs/data-model-appendix.md
  specification/metrics/api.md
  specification/metrics/semantic_conventions/http-metrics.md
  specification/metrics/semantic_conventions/rpc-metrics.md
  specification/trace/sdk_exporters/zipkin.md
  specification/trace/semantic_conventions/database.md
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/instrumentation/aws-lambda.md
  specification/trace/semantic_conventions/messaging.md
  specification/trace/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, semconv:messaging, semconv:HTTP, semconv:database

#3426 BREAKING: Rename remaining network attributes from `net.*` to `network.*` and align definitions with ECS
  CHANGELOG.md
  schemas/1.21.0
  semantic_conventions/deprecated/network.yaml
  semantic_conventions/http-common.yaml
  semantic_conventions/metrics/http.yaml
  semantic_conventions/trace/database.yaml
  semantic_conventions/trace/general.yaml
  semantic_conventions/trace/http.yaml
  semantic_conventions/trace/messaging.yaml
  semantic_conventions/trace/rpc.yaml
  specification/common/attribute-requirement-level.md
  specification/metrics/semantic_conventions/http-metrics.md
  specification/metrics/semantic_conventions/rpc-metrics.md
  specification/trace/semantic_conventions/database.md
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/messaging.md
  specification/trace/semantic_conventions/rpc.md
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, spec:metrics, spec:trace, semconv:messaging, semconv:HTTP, semconv:database

#3355 BREAKING: Introduce common `url.*` attributes, and improve use of namespacing under `http.*`
  CHANGELOG.md
  schemas/1.21.0
  semantic_conventions/deprecated/http.yaml
  semantic_conventions/http-common.yaml
  semantic_conventions/metrics/http.yaml
  semantic_conventions/trace/http.yaml
  semantic_conventions/url.yaml
  specification/common/attribute-naming.md
  specification/common/attribute-requirement-level.md
  specification/common/url.md
  specification/compatibility/prometheus_and_openmetrics.md
  specification/logs/data-model-appendix.md
  specification/metrics/api.md
  specification/metrics/semantic_conventions/http-metrics.md
  specification/trace/semantic_conventions/http.md
  specification/trace/semantic_conventions/instrumentation/aws-lambda.md
Labels: area:semantic-conventions, semconv:messaging, semconv:HTTP, semconv:database

#3378 Add detail for GCP Cloud Run Job execution
  semantic_conventions/resource/cloud_provider/gcp/cloud_run.yaml
  semantic_conventions/resource/faas.yaml
  specification/resource/semantic_conventions/README.md
  specification/resource/semantic_conventions/cloud_provider/gcp/README.md
  specification/resource/semantic_conventions/cloud_provider/gcp/cloud_run.md
  specification/resource/semantic_conventions/faas.md
Labels: area:semantic-conventions

#3212 Add requirement to use X-Ray propagation for aws-sdk client calls
  CHANGELOG.md
  specification/trace/semantic_conventions/instrumentation/aws-lambda.md
  specification/trace/semantic_conventions/instrumentation/aws-sdk.md
  supplementary-guidelines/compatibility/aws.md
Labels: area:semantic-conventions, spec:trace

#3516 Fix outdated host.hostname attribute in log data model
  specification/logs/data-model-appendix.md
Labels: spec:logs

#3454 Move OTLP specification to github.com/open-telemetry/opentelemetry-proto
  CHANGELOG.md
  specification/protocol/README.md
  specification/protocol/design-goals.md
  specification/protocol/exporter.md
  specification/protocol/file-exporter.md
  specification/protocol/otlp.md
  specification/protocol/requirements.md
Labels: spec:protocol
