Repository open-telemetry/opentelemetry-specification, pull requests merged in 2023-07, with the labels that each got.

#3585 Clarify identical instrument definition for SDK.
  CHANGELOG.md
  specification/metrics/api.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#3593 Clarify the cardinality limit section
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#3619 Mark the default aggregation cardinality Experimental in MetricReader
  specification/metrics/sdk.md
Labels: editorial

#3612 Clarify that produce may have required or optional parameters
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics

#3628 Remove Object Oriented language from metric SDK
  specification/metrics/sdk.md
Labels: spec:metrics, editorial
