Repository open-telemetry/opentelemetry-specification, pull requests merged in 2023-04, with the labels that each got.

#3333 BREAKING: Change span statuses for gRPC server spans
  CHANGELOG.md
  specification/trace/semantic_conventions/rpc.md
Labels: area:semantic-conventions, spec:trace

#3202 Mark `service` and `telemetry.sdk` resource attributes as stable.
  CHANGELOG.md
  semantic_conventions/resource/service.yaml
  semantic_conventions/resource/service_experimental.yaml
  semantic_conventions/resource/telemetry.yaml
  semantic_conventions/resource/telemetry_experimental.yaml
  specification/resource/semantic_conventions/README.md
  specification/versioning-and-stability.md
Labels: area:semantic-conventions, spec:resource

#3322 Remove No-Op instrument and Meter creation restrictions
  CHANGELOG.md
  specification/metrics/noop.md
Labels: area:api, spec:metrics

#3347 Add Trino to db.system semantic conventions
  CHANGELOG.md
  semantic_conventions/trace/database.yaml
  specification/trace/semantic_conventions/database.md
Labels: area:semantic-conventions, semconv:database

#3346 Add Log Bridge API artifact naming guidance
  CHANGELOG.md
  specification/logs/bridge-api.md
Labels: area:api, spec:logs

#3047 Add semantic conventions for log record ID
  semantic_conventions/logs/general.yaml
  specification/logs/semantic_conventions/README.md
  specification/logs/semantic_conventions/general.md
Labels: area:semantic-conventions, spec:logs

#3127 Change `db.statement` to only be collected if there is sanitization
  CHANGELOG.md
  semantic_conventions/trace/database.yaml
  specification/trace/semantic_conventions/database.md
Labels: area:semantic-conventions, spec:trace, semconv:database

#3373 [Editorial] Fix changelog
  CHANGELOG.md
Labels: editorial

#3363 Remove underspecified and unused Span decorator from Trace SDK.
  CHANGELOG.md
  specification/trace/sdk.md
Labels: area:sdk, spec:trace

#3366 BREAKING: Remove http.status_code attribute from the http.server.active_requests metric
  CHANGELOG.md
  semantic_conventions/metrics/http.yaml
  specification/metrics/semantic_conventions/http-metrics.md
Labels: area:semantic-conventions, spec:metrics, semconv:HTTP

#3375 [editorial] Use path, not external URL, for link into glossary
  specification/common/attribute-requirement-level.md
Labels: editorial

#3216 Propose histogram bucket boundary metric advice (aka hint API)
  CHANGELOG.md
  specification/metrics/api.md
  specification/metrics/sdk.md
Labels: area:api, area:sdk, spec:metrics

#3329 Add back refs to cloud.resource_id lost in FaaS renaming.
  semantic_conventions/resource/faas.yaml
  specification/resource/semantic_conventions/faas.md
  specification/trace/semantic_conventions/faas.md
Labels: area:semantic-conventions, spec:resource, spec:trace, Stale, editorial

#3194 Update the description of the `host.image` attribute
  semantic_conventions/resource/host.yaml
  specification/resource/semantic_conventions/host.md
Labels: area:semantic-conventions, spec:resource

#3344 Issues #3132, #3133: Semconv for hardware metrics, network metrics and attributes
  specification/metrics/semantic_conventions/hardware-metrics.md
Labels: area:semantic-conventions, spec:metrics

#3374 Editorial: add attribute_group type to log.record
  semantic_conventions/logs/general.yaml
Labels: area:semantic-conventions, spec:logs, editorial

#3360 Lay initial groundwork for file configuration
  CHANGELOG.md
  specification/configuration/file-configuration.md
  specification/configuration/schema/opentelemetry_configuration.json
Labels: area:sdk, area:configuration

#3312 Add recommendation to use non-prefixed units for metric instruments
  CHANGELOG.md
  specification/metrics/semantic_conventions/README.md
Labels: area:semantic-conventions, spec:metrics

#3380 Add moratorium on relying on schema transformations for telemetry stability
  CHANGELOG.md
  specification/telemetry-stability.md
  specification/versioning-and-stability.md
Labels: area:semantic-conventions

#3399 Add ExplicitBucketBoundaries to compliance matrix
  spec-compliance-matrix.md
Labels: editorial

#3367 Adds a note about not splitting UpDownCounter timeseries
  specification/metrics/semantic_conventions/README.md
Labels: area:semantic-conventions, spec:metrics

#3267 add k8s.cluster.uid resource attribute semconv
  CHANGELOG.md
  semantic_conventions/resource/k8s.yaml
  specification/resource/semantic_conventions/k8s.md
Labels: area:semantic-conventions, spec:resource

#3435 Add log documents to specification README.md
  CHANGELOG.md
  specification/README.md
Labels: editorial

#3336 BREAKING: Remove `messaging.consumer.id`, make `messaging.client_id` generic
  CHANGELOG.md
  schemas/1.21.0
  semantic_conventions/trace/messaging.yaml
  specification/trace/semantic_conventions/messaging.md
Labels: area:semantic-conventions, spec:trace, semconv:messaging

#3434 Move configuration documents to configuration folder
  CHANGELOG.md
  specification/README.md
  specification/configuration/file-configuration.md
  specification/configuration/sdk-configuration.md
  specification/configuration/sdk-environment-variables.md
  specification/metrics/sdk.md
  specification/metrics/sdk_exporters/in-memory.md
  specification/metrics/sdk_exporters/otlp.md
  specification/metrics/sdk_exporters/stdout.md
  specification/resource/semantic_conventions/README.md
  specification/vendors.md
  specification/versioning-and-stability.md
Labels: editorial

#3446 Add stable logs changelog entry
  CHANGELOG.md
Labels: editorial
