Repository open-telemetry/opentelemetry-specification, pull requests merged in 2023-01, with the labels that each got.

#3029 Suggest column # as an extra source code attribute
  CHANGELOG.md
  semantic_conventions/exception.yaml
  semantic_conventions/logs/events.yaml
  semantic_conventions/logs/log-exception.yaml
  semantic_conventions/trace/general.yaml
  specification/trace/semantic_conventions/span-general.md
Labels: area:semantic-conventions, spec:trace

#3023 Clarify usage of log body for structured logs
  CHANGELOG.md
  specification/logs/data-model.md
Labels: spec:logs, area:data-model

#3031 Reorganize specification related to OTLP file exporter
  specification/logs/data-model.md
  specification/logs/img/otlp-file.png
  specification/logs/sdk.md
  specification/protocol/file-exporter.md
Labels: area:sdk, spec:logs

#3011 Add ClickHouse in the database group
  CHANGELOG.md
  semantic_conventions/trace/database.yaml
  specification/trace/semantic_conventions/database.md
Labels: area:semantic-conventions, spec:trace, semconv:database

#3052 correct exporter user-agent example
  CHANGELOG.md
  specification/protocol/exporter.md
Labels: bug, area:sdk, spec:protocol

#3073 Restructure the sync/async API as sub-sections
  specification/metrics/api.md
Labels: spec:metrics, editorial

#3083 Fix Histogram parameter: use value term instead of `Measurement`
  specification/metrics/api.md
Labels: spec:metrics, editorial

#3017 Add MaxScale config parameter to ExponentialHistogram
  CHANGELOG.md
  specification/metrics/sdk.md
Labels: area:sdk, spec:metrics, Stale, area:configuration

#3041 Mark exponential histogram as stable
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/metrics/data-model.md
  specification/metrics/sdk.md
  specification/metrics/sdk_exporters/otlp.md
Labels: spec:metrics, area:data-model

#3024 Eager exporting batch span processor
  CHANGELOG.md
  specification/trace/sdk.md
Labels: area:sdk, spec:trace

#3107 [chore] Fix wrong metric type in OTel to Prom compatibility section.
  specification/compatibility/prometheus_and_openmetrics.md
Labels: editorial

#3069 Use normative key words for MeterProvider's Meter API parameters
  specification/metrics/api.md
Labels: spec:metrics, editorial

#3095 [semantic_conventions/resource] fix google platform openshift naming
  CHANGELOG.md
  semantic_conventions/resource/cloud.yaml
  specification/resource/semantic_conventions/cloud.md
Labels: area:semantic-conventions, spec:resource

#3059 Add condition with sum and count for Prometheus summaries
  CHANGELOG.md
  specification/compatibility/prometheus_and_openmetrics.md
Labels: spec:metrics

#3119 Enable semantic convention tooling for metrics
  .vscode/settings.json
  CHANGELOG.md
  Makefile
  semantic_conventions/README.md
  specification/trace/semantic_conventions/http.md
Labels: area:semantic-conventions, spec:metrics

#2861 Add log attribute limit configuration
  CHANGELOG.md
  specification/common/README.md
  specification/logs/sdk.md
  specification/sdk-environment-variables.md
Labels: area:sdk, spec:logs, area:configuration

#3154 nit: fix spacing
  specification/trace/sdk.md
Labels: editorial

#3074 Use normative key words for Asynchronous and Synchronous API parameters
  specification/metrics/api.md
Labels: spec:metrics, editorial
