Repository open-telemetry/opentelemetry-specification, pull requests merged in 2024-07, with the labels that each got.

#4132 Fix typo in `api-propagators.md`
  specification/context/api-propagators.md
Labels: editorial

#4133 Update README.md
  specification/README.md
Labels: editorial

#4147 Make prometheus host and port config options explicit
  CHANGELOG.md
  specification/metrics/sdk_exporters/prometheus.md
Labels: Stale

#4157 Use event.name in Event Data model
  specification/logs/event-api.md
Labels: spec:logs, editorial, clarification

#4090 Allow cloning of ReadWriteLogRecord
  CHANGELOG.md
  specification/logs/sdk.md
Labels: spec:logs

#4158 Use Body instead of Payload in Events SDK
  specification/logs/event-sdk.md
Labels: spec:logs, editorial, clarification
