Repository open-telemetry/opentelemetry-specification, pull requests merged in 2024-08, with the labels that each got.

#4174 Fix community contributing hyperlink
  CONTRIBUTING.md
Labels: editorial

#4135 Add data point flags to the metric data model
  specification/metrics/data-model.md
Labels: spec:metrics

#4182 fix(docs): typo in OTLP histograms to Prometheus
  specification/compatibility/prometheus_and_openmetrics.md
Labels: editorial

#4164 Minor clarification on BatchExportingProcessor behavior
  CHANGELOG.md
  specification/trace/sdk.md
Labels: spec:trace, clarification
