Repository open-telemetry/opentelemetry-specification, pull requests merged in 2024-02, with the labels that each got.

#3874 Fix typo in MetricFilter
  specification/metrics/sdk.md
Labels: editorial

#3882 [editorial] Remove use of Object-Oriented term `class` in log signal
  CHANGELOG.md
  specification/logs/bridge-api.md
  specification/logs/noop.md
Labels: editorial

#3890 [editorial] Remove implementation specific specification from metric API
  CHANGELOG.md
  specification/metrics/api.md
Labels: spec:metrics

#3884 [editorial] Remove implementation detail from Logs Bridge API
  CHANGELOG.md
  specification/logs/bridge-api.md
Labels: spec:logs

#3906 Clarify metric point
  specification/metrics/data-model.md
  specification/metrics/sdk.md
Labels: spec:metrics, editorial
