Repository open-telemetry/opentelemetry-specification, pull requests merged in 2025-02, with the labels that each got.

#4399 [editorial] Use canonical URL to OpenMetrics repo, and more
  specification/compatibility/prometheus_and_openmetrics.md
Labels: editorial

#4368 Deprecate `exception.escaped` attribute, update exception example
  CHANGELOG.md
  specification/semantic-conventions.md
  specification/trace/exceptions.md
Labels: changelog.opentelemetry.io

#4408 Make OTEP hyperlinks relative
  CHANGELOG.md
  development/README.md
  development/trace/zpages.md
  oteps/0156-columnar-encoding.md
  oteps/0243-app-telemetry-schema-vision-roadmap.md
  oteps/entities/0264-resource-and-entities.md
  oteps/trace/0168-sampling-propagation.md
  oteps/trace/0220-messaging-semantic-conventions-span-structure.md
  specification/document-status.md
  specification/logs/README.md
  specification/logs/api.md
  specification/logs/data-model-appendix.md
  specification/logs/data-model.md
  specification/logs/sdk.md
  specification/logs/supplementary-guidelines.md
  specification/metrics/README.md
  specification/metrics/api.md
  specification/metrics/data-model.md
  specification/metrics/noop.md
  specification/metrics/sdk.md
  specification/metrics/sdk_exporters/otlp.md
  specification/profiles/mappings.md
  specification/protocol/exporter.md
  specification/schemas/README.md
  specification/trace/tracestate-probability-sampling.md
  specification/versioning-and-stability.md
Labels: area:miscellaneous, editorial

#4162 Randomness requirements following W3C Trace Context level 2
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/context/api-propagators.md
  specification/trace/api.md
  specification/trace/sdk.md
  specification/trace/tracestate-handling.md
Labels: changelog.opentelemetry.io

#4407 Add Advanced Processing to Logs Supplementary Guidelines
  CHANGELOG.md
  specification/logs/sdk.md
  specification/logs/supplementary-guidelines.md
Labels: spec:logs

#4432 fix: Improve link to jsonlines.org
  specification/protocol/file-exporter.md
Labels: editorial
