Repository open-telemetry/opentelemetry-specification, pull requests merged in 2025-03, with the labels that each got.

#4321 Composite Head Samplers
  oteps/trace/0250-Composite_Samplers.md
Labels: OTEP, changelog.opentelemetry.io

#4456 Fix typo in environment variable substitution example
  specification/configuration/data-model.md
Labels: editorial

#4439 Add opt-in LogRecordProcessor.Enabled
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/logs/sdk.md
  specification/logs/supplementary-guidelines.md
Labels: area:sdk, spec:logs, changelog.opentelemetry.io

#4465 Fix incorrect comment in example
  specification/configuration/data-model.md
Labels: editorial
