Repository open-telemetry/opentelemetry-specification, pull requests merged in 2025-06, with the labels that each got.

#4555 fix: update k8sprocessor link
  specification/logs/README.md
Labels: editorial

#4537 Define how SDK implements Tracer.Enabled
  CHANGELOG.md
  specification/logs/sdk.md
  specification/trace/sdk.md
Labels: area:sdk, spec:trace

#4556 Disable markdownlint descriptive-link-text rule
  .markdownlint.yaml
Labels: editorial

#4536 Stabilize SDK and No-Op Logger.Enabled
  CHANGELOG.md
  specification/logs/noop.md
  specification/logs/sdk.md
Labels: area:sdk, spec:logs, changelog.opentelemetry.io

#4559 Use the final collect's binary url to prevent timeouts.
  specification/metrics/data-model.md
Labels: editorial

#4535 `SeverityNumber=0` MAY be used to represent an unspecified value
  CHANGELOG.md
  specification/logs/data-model.md
Labels: spec:logs, area:data-model, clarification, changelog.opentelemetry.io
