Repository open-telemetry/opentelemetry-specification, pull requests merged in 2025-01, with the labels that each got.

#4359 Add aliasas for recently deleted pages
  specification/logs/README.md
Labels: editorial

#4361 Nit fix link to correct shutdown & flush
  specification/metrics/sdk.md
Labels: editorial

#4331 Clarify boundaries of numeric env vars
  CHANGELOG.md
  specification/configuration/sdk-environment-variables.md
  specification/protocol/exporter.md
Labels: changelog.opentelemetry.io

#4352 logs: Remove Events operations in favor of making whole Logger user-facing
  CHANGELOG.md
  specification/logs/api.md
Labels: spec:logs, changelog.opentelemetry.io

#4366 [editorial] Normalized intra-spec link in protocol/file-exporter.md
  specification/protocol/file-exporter.md
Labels: editorial

#4367 [editorial] Normalized intra-spec link in trace/api.md
  specification/trace/api.md
Labels: editorial

#4382 [editorial] Update Logs API preface
  specification/logs/api.md
Labels: spec:logs, editorial

#4381 Define how SDK implements Logger.Enabled
  CHANGELOG.md
  specification/logs/noop.md
  specification/logs/sdk.md
Labels: spec:logs

#4386 Update spec matrix: EmitEvent -> Set EventName
  spec-compliance-matrix.md
Labels: editorial

#4387 Remove link exclusion
  .lychee.toml
Labels: editorial

#4373 Logs API to have functionality for reusing Standard Attributes
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/logs/api.md
Labels: changelog.opentelemetry.io

#4375 Define syntax for escaping declarative config env var substitution
  CHANGELOG.md
  specification/configuration/data-model.md
Labels: changelog.opentelemetry.io
