Repository open-telemetry/opentelemetry-specification, pull requests merged in 2025-04, with the labels that each got.

#4463 Stabilize Logger.Enabled
  CHANGELOG.md
  specification/logs/api.md
Labels: area:api, spec:logs

#4442 Create initial Entities data model specification.
  CHANGELOG.md
  specification/entities/README.md
  specification/entities/data-model.md
  specification/resource/README.md
  specification/resource/data-model.md
Labels: changelog.opentelemetry.io

#4475 Stabilize EventName
  CHANGELOG.md
  spec-compliance-matrix.md
  specification/logs/api.md
  specification/logs/data-model.md
  specification/logs/sdk.md
Labels: area:api, area:sdk, spec:logs, area:data-model, changelog.opentelemetry.io

#4461 Add resource detector name
  CHANGELOG.md
  specification/resource/sdk.md
Labels: changelog.opentelemetry.io

#4430 OTEP: Span Event API deprecation plan
  oteps/0265-event-vision.md
  oteps/4430-span-event-api-deprecation-plan.md
Labels: OTEP, changelog.opentelemetry.io
